[2018-05-02 22:07] artjeck opened #826 "Contributing a new logo"
Hi developers!
I am a graphic designer, I want to contribute to make a logo on your project, before I start it, I have to ask your permission first 😃
Best Regards, @artjeck

[2018-05-03 05:27] Str4tocaster commented on #825
@Abdulqa Just read the README file and follow the instructions.

[2018-05-03 05:27] #825 closed

[2018-05-03 05:29] Str4tocaster commented on #784
@KonomiKitten Thanks for your investigation we will think about it.

[2018-05-03 11:45] andrewnenakhov commented on #826
Well, you can provide samples, we'll use one of them if we'll like it. But actually we like Xabber logo as it is today. Has some issues with current 'flat' trend, but trends change all the time.

[2018-05-04 11:43] andrewnenakhov commented on #826
It's pretty well explained on main page for this repository and links contained there.

[2018-05-04 13:45] artjeck commented on #826
Thank you sir, I will prepare as soon as possible 👍

[2018-05-08 08:03] amirdesaingrafis commented on #826
Hello, I want to contribute to this awesome project, and I have a new logo design for you, if you allowed I will send to you :)

[2018-05-08 08:17] Str4tocaster commented on #826
@amirdesaingrafis You can post it here so we can look ;)

[2018-05-09 09:47] amirdesaingrafis commented on #826
![xabber](https://user-images.githubusercontent.com/36655856/39808150-62238e6a-53a8-11e8-844b-1ce2d2d8b240.png)
What do you think?
My logo is designed from without changing the old logo shape, with the concept of the globe at the top position in the incandescent light bulb icon.

[2018-05-10 08:19] amirdesaingrafis commented on #826
it's the letter "x" hidden inside it. I will revise to make it look real. is there any suggestion from you @oxoWrk

[2018-05-13 15:11] #104 closed

[2018-05-21 16:57] persmule opened #827 "Wish: Ability to discover the real JID of participants of MUC chat when room allows it."
MUC chatroom could be configured to allow a participant to discover the real JID of other participants, and moderators should have such capability even without such configuration, but it seems impossible to do so with xabber, while using pidgin, psi, or even Conversations can achieve this.

Could such capability be added in a future revision of xabber, please?

[2018-05-22 05:51] andrewnenakhov commented on #827
MUC is not a standard but an atrocious pile of garbage. We are working on better group chat solution and intend to eventually phase out MUC support out of Xabber for Android. This is also the reason why we never even considered adding MUC support to Xabber for Web or iOS.

[2018-05-22 05:51] #827 closed

[2018-05-24 16:50] dolda2000 opened #828 "Custom notification sounds broken on Android 8"
I just upgraded my phone to Android 8.0, and doing that seems to have broken custom notification sounds in Xabber. I'm not really into Android development enough to offer informed commentary, but there seems to have been changes to how notifications work in 8.0 that have affected others too:

https://stackoverflow.com/questions/46019496/notification-sound-on-api-26/46192246

[2018-05-25 09:28] andrewnenakhov commented on #828
Indeed. We'll look into it.

[2018-05-28 12:02] Wohlstand opened #830 "Allow http_upload to send bigger pictures OR autoresize image into smaller (minimal) size"
I have own XMPP server where I have enabled BOSH and the support to receive HTTP Uploads and I have allowed big files on my end. I have found it's very inconvenient when I making 8MP photos and I can't send them due their "too big size". That forces me to set smaller size of photo and retry the shot, OR manually resize the picture in any image editor I can find on my phone.
Can you allow sending o

[2018-05-28 12:05] Str4tocaster commented on #830
@Wohlstand This is what we are currently working on. Stay tune!

[2018-05-28 12:06] Wohlstand commented on #830
Neat! :fox_face:
Waiting for the release that will include this! :smile:

[2018-05-29 15:43] johnnybubonic opened #831 "attempting to load a conference in bookmarks crashes app"
i have a persistent conference bookmark set up via [XEP-0048](https://xmpp.org/extensions/xep-0048.html), set to auto-join.

however, in recent versions (incl. xabber beta), when i attempt to load/switch into that conference window, the entire app crashes.

i'm on lineageOS 15.1 (which uses android 8.1 as a base). let me know if you need any more information.

[2018-05-29 20:54] crazypioneer commented on #762
Str4tocaster

Thank you!!!
9999+ times.

[2018-06-02 14:56] ip4market commented on #540
You need to do encryption. It doesn't violate and laws. Its should be/must have.
OMEMO is good technology and should be implemented.

[2018-06-02 16:55] andrewnenakhov commented on #540
@ip4market so many people here telling us what we should do. Unfortunately, they tend to forget to back their instructions with payment.

[2018-06-02 17:07] rugk commented on #540
Well… if you mean that serious (which I doubt :wink: ) you could setup a [bountysource for this issue](https://www.bountysource.com/issues/26498485-add-support-for-omemo-encyrption) and collect money for it. I doubt though… that this really solves the initial legal problem that makes this issue staling.

[2018-06-02 22:06] gerroon commented on #770
Hi

Is there any update on this build work? I realize this is some work, I am just trying to see when we can have the latest version in F-droid

thanks

[2018-06-03 10:57] andrewnenakhov commented on #770
@gerroon sorry for delays. We're currently very overloaded making exciting new features like very nice and user-friendly media sending and also combating a significant amount of technical debt that surfaced in android version of Xabber. So knowing of some severe issues that resurfaced while introducing new functionality we have 2 options: to build from an already obsolete version of Xabber or to a

[2018-06-03 11:07] andrewnenakhov commented on #540
@rugk I'm very serious. When I tell Xabber developers what they should do today, I back my instructions with payment. I think it's fair that anyone who wants to give them instructions should too back it with payment. All by himself, owning responsibility for what he wants us to do. Why should someone on bountysource pay for what @ip4market wishes?

[2018-06-03 11:28] rugk commented on #540
Bountysource does not work that way. Here is how it works:
1. Anyone who wants this issue solved, pays in money there.
2. When this issue is solved and you accept a PR (or implement it yourself) you can get the money from there.

So if you want to do that, just signup there, claim ownership over the account there and add a prominent link to the top of this issue.

[2018-06-03 12:07] andrewnenakhov commented on #540
@rugk why should I care how Bountysource works? The one who wants issue solved is not me, but @ip4market . So HE can negotiate the price with us, raise money with whatever means he has, pay us and get the job done.

[2018-06-03 12:14] heideline commented on #540
Not payment. I must ask my daugther first, she has made my xabber account, because I'm ill.

[2018-06-03 12:18] heideline commented on #540
Can you restore my account?

Von Samsung-Tablet gesendet
-------- Ursprüngliche Nachricht --------Von: rugk <notifications@github.com> Datum: 03.06.18  13:28  (GMT+01:00) An: redsolution/xabber-android <xabber-android@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Betreff: Re: [redsolution/xabber-android] Add support for OMEMO Encyrption (#540)

Why should someone on bountysour

[2018-06-03 12:28] andrewnenakhov commented on #540
@rugk see what you've done?

[2018-06-03 12:31] vanitasvitae commented on #540
@heideline Dies ist nicht der richtige Ort für solche Supportanfragen :)
This is not the right place for this kind of questions.

[2018-06-03 12:42] heideline commented on #540
I speak about my xabber account, and you write about prices.I need xabber help to restore my account. I have cancel my xabber account by mistake.Thank you for your help, but you arenot right here.Heide Hemmelrath

Von Samsung-Tablet gesendet
-------- Ursprüngliche Nachricht --------Von: Andrew Nenakhov <notifications@github.com> Datum: 03.06.18  14:07  (GMT+01:00) An: redsolution/xabber-android <x

[2018-06-03 12:48] vanitasvitae commented on #540
Generally speaking, this is a place to discuss developer problems, specifically implementing a new feature in this case. You do have a user problem. Please seek help from the Xabber Support Team, not on Github. Unfortunately you are kind of making it hard to follow the original topic of this discussion with your request.

@andrewnenakhov Can you later delete this part of the discussion?

[2018-06-03 12:48] andrewnenakhov commented on #540
@heideline if you need our help with Xabber account, please email support@xabber.com
This thread on Github is not for tech support. It's a place where crytonerds and cryptojerks try to coerce us to develop new functionality for our app so they could feel really safe from surveillance

[2018-06-03 12:50] andrewnenakhov commented on #540
@vanitasvitae don't wanna delete it, it's the most amusing part of this thread!

[2018-06-03 12:52] heideline commented on #540
I'm waiting for my daughter, she say me, what I can doWhy I can't restore my xabber account and where? I don't find it, that is the question. I have cancel it by mistake.That's all.Heide Hemmelrath Xabber name ( heideline)

Von Samsung-Tablet gesendet
-------- Ursprüngliche Nachricht --------Von: Paul Schaub <notifications@github.com> Datum: 03.06.18  14:31  (GMT+01:00) An: redsolution/xabber-andr

[2018-06-03 12:57] vanitasvitae commented on #540
@heideline I'm sure your daughter can help you :) Please show her our discussion afterwards ;)

[2018-06-03 13:16] Buntbart commented on #540
What a bunch of nonsense! Developers want money in advance for code they don't want to write, don't think it makes sense and aren't allowed to offer. Then they accuse their more interested customers for the mistakes of overtaxed noobs and find that funny. Why is this discussion not simply closed if you do not want to fulfil this desire for OMEMO? By the way, thanks to Liberapay I donate regularly

[2018-06-03 13:32] heideline commented on #540
 Don't know, how I come to your side, sorry. I want to restore my xmpp account in Xabber. I get no answer and must read and read and I do not understand.That's not my mistake, but a bad help menagement. Good by! Developer :-)
HmHB
Von Samsung-Tablet gesendet
-------- Ursprüngliche Nachricht --------Von: Buntbart <notifications@github.com> Datum: 03.06.18  15:16  (GMT+01:00) An: redsolution/xabber-

[2018-06-03 13:41] andrewnenakhov commented on #540
@Buntbart earlier we differentiated users interested in encryption in two groups: junkies and cryptonerds. However, recently we came to a conclusion that there is also a subset of users who should rather be called cryptojerks. Now, please leave our issue tracker. Forever.

[2018-06-03 13:43] heideline commented on #540
Sorry where I  an delete the part of discussion? Developer we need, they our future. ;-).

Von Samsung-Tablet gesendet
-------- Ursprüngliche Nachricht --------Von: Paul Schaub <notifications@github.com> Datum: 03.06.18  14:48  (GMT+01:00) An: redsolution/xabber-android <xabber-android@noreply.github.com> Cc: heideline <hm.hemmelrath@gmail.com>, Mention <mention@noreply.github.com> Betreff: Re: [r

[2018-06-03 13:49] andrewnenakhov commented on #540
@heideline don't worry about that. Just send us email to support@xabber.com with details of your account.

[2018-06-03 14:01] rugk commented on #540
Wtf happened here? @andrewnenakhov could not you please delete the comments added by @heideline, which have this huge bunch of email stuff there?

And yeah, I'd also suggest to close this issue here. (maybe even lock it – it may be better :wink:) You seem to not want to implement it, or better can't, because of the legal things discussed before, so leave it as it. Users wanting to use OMEMO should

[2018-06-03 16:14] gerroon commented on #770
@andrewnenakhov

That is fair enough. I realized it must be a lot of work already. Take your time, Xabber is one of the most loaded Xmpp client already.

thanks

[2018-06-03 17:11] samphunter commented on #540
All users should use other client, as thankfully E2E encryption is finally starting to be enabled by default, so this client is starting to be incompatible with modern clients such as Conversations.

[2018-06-03 17:32] andrewnenakhov commented on #540
@samphunter yeah, Conversations users were very happy when they were forced to have that e2e bullshit forced on them. Processone even [changed](https://github.com/processone/ejabberd/commit/2785f1dfd2e1c15cc7ebfb909b8304f1e7a86414) default config in so OMEMO encryption in Conversations wouldn't work out of the box in ejabberd.

[2018-06-03 17:41] samphunter commented on #540
I was not Converastions user before OMEMO was turned on by default by I am one now and I am very happy that it is forced on users. Unfortunately not everyone cares about e2e and that is fine when two such people communicate. But it is a pain to explain to people how to configure and/or use it as a person who actually cares about privacy. So yeah, even companies like Whatsapp got the memo and enabl

[2018-06-03 17:56] andrewnenakhov commented on #540
@samphunter if you care about privacy, run your own server and communicate within it. The *only* persons e2e helps against are admins of yours and your chat buddy's servers. But while encryption brings users a false sense of security it also breaks a lot of things that are really important in real life, like server-side history search and device convergence.

[2018-06-03 18:41] samphunter commented on #540
First of all, e2e if done right is the only thing that can even start to provide some security.

What would be the point? I would not trust myself to run it properly. All my friends would have to use my server or their own, both of which is impractical. The server can't be at my home because village internet and having it at a datacenter ruins the point.

I really don't understand how it breaks de

[2018-06-03 19:10] andrewnenakhov commented on #540
So you want to keep all your very safely transmitted messages decrypted on your pocket device? Lol. So if it gets lost, stolen or taken from you, whoever gets access to device will have all your data. So by trying to eliminate one security risk you introduce many others much more severe.

What you don't get is that security and convenience don't fit together well. Encryption nerds lull themselves

[2018-06-04 04:59] samphunter commented on #540
First of all, if nothing else, FDE.

Second of all, what the hell is your point? Yes, if someone can walk up to me and get my device, they will get my messages, whether they are e2e encrypted or not as long as I store them (which I don't have to do for the sensitive ones). But for one, I can delete them and be reasonably sure they are deleted unlike with servers, which I can only hope they are doi

[2018-06-04 06:43] vanitasvitae commented on #540
I don't get why you are still discussing. If you read the backlog, you can see that both sides already brought every point up against each other.

Xabber devs are not going to implement OMEMO in Xabber by themselves, no matter what great arguments you bring up.

If you want OMEMO in Xabber, fork it and do it yourselves :) Xabber is based on Smack and Smack does have a module for that.

[2018-06-04 06:59] andrewnenakhov commented on #540
That can be quite routinely unlocked by any party that is really interested in getting what's inside. Encrypting database is a bit better, we do it for one of our customers.

Point is that crypto-fetishists like the feeling of being secure, but when talking about providing themselves real security, nope, that's too hard to keep own server and control all communications.

You introduce many more se

[2018-06-04 07:04] andrewnenakhov commented on #540
@vanitasvitae money is good enough argument. I think we could do this for just 1₿ ;)

[2018-06-04 07:38] samphunter commented on #540
I specifically said the opposite, that it is just the first step. And once more, attacks on server are many many times easier than on your phone.

Having them on the server does not protect them unless you log out every time you close the app. It is irrelevant to whether e2e should be used, as this can be solved by encrypting the database.

I honestly don't care much. I gave up on xabber as I wrot

[2018-06-04 07:59] andrewnenakhov commented on #540
Who told you that? Did you ever think that all your assumptions are based on wrong ideas?

It does if you care to do some things to prevent access to message history. We actually implemented it for one of our customers, who really cares about security, and does not only pretends to be caring like most folks here.

Speaking of spreading bullshit, that's exactly why I respond to all this massive out

[2018-06-04 10:41] samphunter commented on #540
targeted only at chats?

I have PGP set up for email, but I practically never use it, because it is more convenient to switch to a secure IM. Using PGP for mail is just unreasonably hard and there is no reason not to use IM (use best tool for the job).

Maybe I am not a sane developer, but I don't believe this. Maybe my assumptions are wrong or maybe yours are.

Yes, but I never found a flaw in th

[2018-06-04 16:17] samphunter commented on #540
You misrepresent what I wrote. I have PGP set up and my PGP key published, ready to send or recieve encrypted mail. I just deem it "unreasonably hard" to ask other people to use it when there is a better solution (IM). I am certainly not ashamed to ask everyone to use IMs that are encrypted by default, as that is literally ZERO effort on their side. There is no excuse not to use encrypted IM these

[2018-06-04 18:56] andrewnenakhov commented on #540
@samphunter no excuse, really? Just one thing, like the capability to have a nice history search in a web client, is a deal breaker for almost anyone who does some real work with XMPP.

[2018-06-05 10:36] samphunter commented on #540
@andrewnenakhov Great, so somehow we got from it being useless and bad for security all the way to, it disables one feature and only in webclients, who can't easily do OMEMO properly anyway... Are you trying to argue something or just throwing stuff around?

[2018-06-05 11:01] andrewnenakhov commented on #540
@samphunter I never told it's totally useless. But the desire to force everyone to press a magic button and pretend they are totally safe and secure is silly. It also breaks not 'one feature' but a number of killer features, like good device sync and server search, which are of paramount importance. And downloading all history from a server to client perform a search is not just stupid, but ultra-

[2018-06-11 15:23] rsanjuan87 opened #832 "Send files"
Xabber says that my jabber server not allow send files but I log in to my account with pidgin on desktop and it's allow send files
So I think it's a bug of app

[2018-06-11 18:38] andrewnenakhov commented on #832
Using pidgin as a metric is probably not the best idea. Xabber supports sending files with XEP-0363 HTTP File upload. If it's listed in server capabilities, it works.

One known issue is that when the account is just added to Xabber, app is busy loading history/avatars/etc, it might process capabilities stanza with a significant delay (a few minutes) during which Xabber will incorrectly tell that

[2018-06-11 18:38] #832 closed

[2018-06-13 16:53] heideline commented on #832
Sorry I connot understand your problems.I'm not a member to Github.I have no account on Xabber, that was the beginneng of our misunderstandings, because I dont't know, what a MPPM account or so  a thing is and I began my search, landing on your side.What must  I do?
I have decided in the meantime, Xabber to deinstall from my tablet, which was installed from my daughter without ending the login-dat

[2018-06-13 17:22] andrewnenakhov commented on #832
@heideline могу и по-русски. Вы как-то не очень правильно используете GitHub. Это ресурс для разработчиков, который рассылает уведомления о разных задачах, которые ставят некоторые продвинутые пользователи. Не совсем понятно, почему Вам приходят уведомления с него, но, думаю, что надо просто найти способ от них отписаться.

(Насколько я понял, Вам приходят оповещения, а Вы просто нажимаете на них

[2018-06-14 05:33] cszawisza opened #833 "mod_mam not working as expected"
Hi!

I have a prosody 0.10 server with mod_mam enabled.

In xabber "Server info" tab the XEP-0313 is checked as available, also urn:xmpp:mam:[0,1,2] are listed in the Features list but the "Chat History:Message Archive Management" tab has an information that "the server does not support storing chat history"
Why?

[2018-06-14 08:40] andrewnenakhov commented on #833
Can you provide us with a working XMPP account on your server?

[2018-06-15 13:02] #775 closed

[2018-07-11 05:35] BigGiantHeadsHighCommander commented on #821
Basic blocking and ignore strangers is NO match for xep-0016 👅

My very smart friend recommends "an analog of email's [DCC](https://www.dcc-servers.net/dcc/) server for xmpp"

https://www.dcc-servers.net/dcc/

[2018-07-11 05:39] BigGiantHeadsHighCommander commented on #799
Simply use OMEMO

[2018-07-11 05:53] BigGiantHeadsHighCommander opened #835 "don't emulate conversatoins entirely with their poorly crafted feature labels & inane defaults"
I routinely have to explain to people who purport to be friends that disabling the social features of Conversations does not enhance their privacy when talking with friends.  If they are worried about people they don't know don't add them as a contact or use wickr.  "If you're not interested in sharing this with me as I do with you then I'm not interested in talking with you".

Conversations defau

[2018-07-11 06:39] andrewnenakhov commented on #799
@BigGiantHeadsHighCommander OMEMO encrypts only message body, files uploaded via HTTP upload will be stored on server in plain open way. Please, don't give others advice in areas you are not too familiar with.

[2018-07-11 07:07] andrewnenakhov commented on #835
Why should we ever emulate ugly as hell clients that even does not show presence or groups normally? lol

[2018-07-11 07:07] #835 closed

[2018-07-16 05:44] prashantcore opened #836 "Unable to sync and compile in Android Studio."
I cloned the project from github and followed the instructions as prescribed in the Readme file but couldn't succeed to sync and compile the project. Can you please assist me in the same.

`Unable to resolve dependency for ':xabber@devDebug/compileClasspath': Failed to transform file 'MemorizingTrustManager-release.aar' to match attributes {artifactType=android-exploded-aar} using transform Extrac

[2018-07-19 06:59] shravanteegala commented on #836
Iam Facing same issue.

[2018-07-19 09:16] Str4tocaster commented on #836
Read readme again. Execute following commands in terminal:
[code]
Be sure that modules  **emojicon** and **memorizingTrusManager** has been downloaded in your local project.

[2018-07-19 09:16] #836 closed

[2018-07-19 09:19] Str4tocaster commented on #716
@shravanteegala Open terminal, by click to "terminal" panel at the bottom of Android Studio window. Execute following commands in terminal:
[code]
Be sure that modules emojicon and memorizingTrusManager has been downloaded in your local project.

[2018-07-20 05:12] prashantcore commented on #836
I have tried it a lot, but no success.

[2018-07-20 05:20] Str4tocaster commented on #836
@prashantcore Try File -> Invalidate Caches / Restart. Or retry clone to new project.

[2018-07-24 09:10] DivyaPrajapati09 commented on #836
Resolved by just clean build the project

[2018-07-30 23:26] prototype2118 commented on #571
This would really be a good feature to have.

[2018-08-01 04:46] ikoikoon opened #838 "no xabber icon on status bar"
hi

android 8, samsung s7

there are no icon on status bar and notification area

[2018-08-01 15:00] ge0rg opened #839 "vCard request incorrectly sent to full JID (Android build 501, 2.4.1)"
Xabber Android is sending vCard requests to a contact's full JID instead of the bare JID, as [outlined in the specification](https://xmpp.org/extensions/xep-0054.html#sect-idm46012335751040).

Example XML:
[code]

This is incorrect and probably useless, but it also triggers a [nasty bug in poezio](https://dev.louiz.org/issues/3419).

I'm sure this has been happening for some time already, but I do

[2018-08-24 19:09] Wohlstand commented on #830
I see you have made something, however, on attempt to send a bigger image, the crash happens at me. The assembly is 501 from Google Play, Android 4.3 (Samsung Galaxy S III device). I trying to send 8MP photo. When I using default camera app, the crash happens on "Camera" app itself. When I shoted it separately and trying to send it - crash of Xabber itself.

[2018-09-20 19:17] ghsrcgh opened #840 "Make a possibility to export and import history (local backups)"
Please make a functions to:
* export history (backup)
* import history (restore backup)
And it must work as local backup.
You can encrypt it or not - it is not so important, but it must be stored on the local memory/sd card, without any cloud/internet services. I.e. offline backup.

Event if you will make only the first function (export history) - it will be very good.

Even Whatsapp (!!!) an IM f

[2018-09-20 19:18] andrewnenakhov commented on #840
Actually we store all our chat history on XMPP server in message archive,and advise anyone to do so too. So we might do this eventually, but it's low priority for us.

[2018-09-20 19:33] andrewnenakhov commented on #840
1. Well, disabling archive goes against what we're striving to achieve - seamless sync between devices. It can only be done with the archive on a server. If some users don't like the idea of their messages stored there, well, ... tough luck, it's not what's on our roadmap.
2. Logins and accounts settings are already synced between Xabber clients using Xabber account. Everything but passwords are s

[2018-09-20 19:46] ghsrcgh commented on #840
You will not be able to restore decrypted OTR messages using XMPP server store. Many (not most) users uses OTR for communications. So, they will lost their history at all. With no options to restore.

Why it is so difficult to export all accounts to xml scheme (it is a common for history messages, like SMS Backup & Restore common format) and then (the second option) import it to the device? It is

[2018-09-20 20:02] ghsrcgh opened #841 "[Bug] Sound notifications plays sound by Media volume, not by Notifications volume"
Xabber message notifications (in the chat) doing using... MEDIA volume, not a NOTIFICATION volume. For example, if you will mute all volumes (call, system, notifications), but media volume will be not 0%, you will hear a notification sounds when message arrives to chat. Incoming messages. This is very annoying. Xabber incorrectly uses media sound instead of notification sound :(

Android 8.0
Samsu

[2018-09-20 20:06] ghsrcgh opened #842 "[Bug] Problems with timestamps after roaming visit with other GMT"
In the roaming phone have a two times: home-time and roaming-time. After leaving roaming zone with other GMT, xabber had continued to use roaming time for all timestamp for all messages. But you are in the home network with the home time. All other messengers (Signal, Telegram, etc) had switched to the home time normally (without restart apps, phone or any actions).

* Android 8.0
* Samsung Galaxy

[2018-09-20 20:33] andrewnenakhov commented on #840
This again. First, people want their chats securely encrypted and stored only on the device, because they don't trust THE MAN and server admins to not access their data. Next, they want to conveniently access all their chats on other devices. And we have more work as a result. 😕 (and we'll have to add it on all versions of Xabber, right? Multiply our efforts by three)

This functionality is not re

[2018-09-20 23:07] ghsrcgh commented on #840
Idea of not avail info on the servers or somewhere is logical. Offline backups is a continue of this idea. It is logical too :). For example (simple case) - switching from one phone to another [new] one.

Yep, I understand about plans, etc. I know develop process.

Okay, so, what I may say to most of the guys, who are unable to code this and pull? Vote for this ticket and may be some plans will be

[2018-09-21 13:22] ghsrcgh opened #843 "[Feature Request] Make SOCKS-proxy configuration for every Jabber account (not a common for all)"
Please make a possibility to configure different SOCKS-proxy for each one Jabber account, but not a common proxy for all. I want to have a possibility to not combine accounts between each other. Make them all separately by IP address to have no possibility to see that they are used on the same device.

[Orbot allows](https://github.com/n8fr8/orbot/issues/176#issuecomment-423374727) to use a differ

[2018-10-02 18:40] vicky1198 commented on #793
but how

[2018-10-03 06:01] Str4tocaster commented on #793
@vicky1198 Terminal in Android Studio.

[2018-10-03 07:38] vicky1198 commented on #793
but it say failed to clone,why??

[2018-10-30 08:52] gemboot opened #844 "Specific sound notifications assigned to key phrases are not respected at all."
Hi,

I'd like to report that when I set a specific sound notification for individual key phrases, it always plays the default android sound notification instead of the one I assigned for each key phrases. Am I the only one to have this odd behavior ? or am I doing something wrong ? I'm using Android 8.0.0.

Thank you.

[2018-11-12 17:06] HackM3nt3 opened #845 "fix gradle sync failed, android studio 3.2 (git fix, it didn't work, emojicon library errors)"
I'm trying to compile the apk but when i open the code using android studio and i got  50 errors and 1 warning from gradle sync failed. (Before several updates)

In the section Read me there is and explanation about how to make it work with git
git clone https://github.com/redsolution/xabber-android.git
then  cd xabber-android
and
git submodule init
git submodule update

And i updated the submodul

[2018-11-12 17:06] HackM3nt3 commented on #845
![captura](https://user-images.githubusercontent.com/13055051/48363223-6c747880-e673-11e8-9703-4db303ecf42f.JPG)

[2018-11-20 16:36] loonatic31 opened #846 "change status when calling/on phone"
Kinda feels like a FAQ, but would like to ask anyway: would be _very_ nice if xabber changes my status to e.g. busy on incoming calls and on outgoing calls.

[2018-11-20 18:17] andrewnenakhov commented on #846
@loonatic31 nice idea, BUT it would definitely require access to phone calls, which subsequently leads to complaints that this vicious app requires access to phone calls for some reason, bad, bad, bad data stealing evil app! :-\

Maybe we'll do it some day in the future.

[2018-11-21 14:36] tarekfaroukhamouda commented on #846
I think if just while ping  request it may ask for the statuse of the mice
so if not avilble it turn ino busy

On Tue, 20 Nov 2018 20:18 Andrew Nenakhov <notifications@github.com wrote:

[2018-11-23 08:11] fabilqis commented on #845
I have same problem too with android studio 3.2.

[2018-11-23 08:56] tarekfaroukhamouda commented on #845
U need to update smack lib

[2018-11-23 10:03] Str4tocaster commented on #845
@HackM3nt3 which version of gradle you use?
On android studio 3.2 and gradle 4.1 - build is successful.

@tarekfaroukhamouda No. Xabber use custom version of Smack. It is correctly work on android studio 3.2 and gradle 4.1

[2018-11-25 10:30] ariebrainware commented on #845
@Str4tocaster  I'm using Android Studio v3.2.1 and gradle 4.10 , still error

![image](https://user-images.githubusercontent.com/26453961/48977987-94ce8f00-f0d7-11e8-8ef6-6df7c1bd9305.png)

![image](https://user-images.githubusercontent.com/26453961/48977982-82545580-f0d7-11e8-815f-9bbab28fe8ef.png)

[2018-11-26 17:59] zimasanya opened #847 "XEP-0363 TLS"
On Android 8.1

javax.net.ssl.SSLHandshakeException:
java.security.cert.CertPathValidatorException:
Trust anchor for certification path not found.

I have self-signed Root and Intermediate certificates.
Certificates were installed in the DER format to Trust Store

[2018-11-26 18:01] zimasanya commented on #847
![photo_2018-11-26_20-01-10](https://user-images.githubusercontent.com/10848270/49032766-198fda80-f1b6-11e8-93ff-c817f6185548.jpg)

[2018-11-26 18:05] zimasanya commented on #847
![photo_2018-11-26_20-02-47](https://user-images.githubusercontent.com/10848270/49032943-928f3200-f1b6-11e8-951a-13fdc167c02e.jpg)

[2018-11-26 18:15] zimasanya commented on #847
![image](https://user-images.githubusercontent.com/10848270/49033466-f6662a80-f1b7-11e8-8b62-d0332f41ce53.png)

[2018-11-26 18:15] zimasanya commented on #847
![image](https://user-images.githubusercontent.com/10848270/49033505-0847cd80-f1b8-11e8-8578-0f340078e255.png)

[2018-11-27 09:29] zimasanya commented on #847
Good day!
This situation concerns the preview image in the chat window. With the full opening of the image there are problems with SSL clicking on the download button causes it to crash and restart the application.

This problem is observed on Android 7 and Android 8+

Everything works great on Android 5+

[2018-11-27 09:57] Str4tocaster commented on #845
@ariebrainware Try latest update from master branch. It is contains changes for Android Studio 3.2.1 with gradle 4.6 and build-tools 3.2.1

[2018-11-30 14:01] gemboot commented on #844
Hello,

I would like to know if this issue is currently being addressed ? if so, when will it be fixed ?
It's really annoying to get the same sound over and over for any kind of message :(

Thank you.

[2018-11-30 14:10] andrewnenakhov commented on #844
@gemboot we acknowledge this issue but currently we're working on other things in Xabber. Can't give you any updates on when we'll fix this issue introduced by latest versions of Android.

[2018-12-01 10:01] gemboot commented on #844
Ok, thanks for your reply ;) We will wait then.

Just in case you don't already know, there is an android app called "AutomateIT" that allows to set specific notification sounds (with rules) and it works fine, maybe you could check with its creator and see how he managed to do that ? Their last version was released more than one year ago, how come they are not affected by the new version of androi

[2018-12-01 10:12] jimcbrodie opened #850 "Authorization error. Android build 533, 2.5"
Hi,
For some weeks now, I haven't been able to login to my  Xabber account on my Android device. I can login as normal to the Web version from a PC, so I know there
isn't a problem with my username or password. I have tried uninstalling and reinstalling the app but no joy.
Any assistance gratefully received!
I have provided what I hope is the relevant info below.
Please let me know what more I can

[2018-12-01 13:11] feroom commented on #847
Similar problem.
When I receive a picture, I get the same error.

It's not about certificates, it's clearly about handling the https request by the android system, since the application tries to open the url not in the browser.

Can anyone have a solution to the problem on a fresh Android OS?

[2018-12-03 12:37] ge0rg opened #851 "Xabber/Android busy-looping with jabber.otr.im"
Hi,

There is a busy-loop issue between Xabber/Android and jabber.otr.im, caused by a Xabber user sending a message to a user on jabber.otr.im:

1. user contacts somebody on jabber.otr.im
2. jabber.otr.im automatically responds with "For security reasons, OTR encryption is required for conversations on this server"
3. Xabber automatically responds to that message with a message tagged as private (

[2018-12-03 13:00] andrewnenakhov commented on #851
Looks like anti-spam filter works as designed. Xabber has an option to enable anti-spam filter on clientside (done by popular user request), and if server opts to spam such user with messages (as it does), it will result in endless loop. Not really sure that it's Xabber that should be fixed with this. Also, a user can disable anti-spam filter in app settings.

Btw, we really don't like it when som

[2018-12-03 13:39] ge0rg commented on #851
I'm not arguing against the anti-spam filter, but I'm pretty sure it doesn't need to tell a single JID about the spam 260 THOUSAND times. For example, you could cache the JID you respond to for some minutes to ~1hr, and not reply to **each** message, but only again after the cache timeout.

Your user doesn't see the traffic, but it eats their battery. And there are more bots out there.

[2018-12-03 13:55] andrewnenakhov commented on #851
@ge0rg but server also does not need to spam user 260 thousand times! (I'd personally stop using such server). Spam filter is not enabled by default, so user brought this on himself, first by using server with a lousy set up, and by enabling anti-spam filter.

I think we'll let this issue be here, until we implement a better solution for a spam problem (limiting bounce back replies is an ok way),

[2018-12-03 16:42] ge0rg commented on #851
The user in question is on *my* lousy server, but they interact with *that other* lousy server. I've also kindly asked the server admins to implement throttling. The user in question probably didn't even see this message, because the otr.im server obviously can't solve the anti-spam question. So your client feature is badly interacting with automated services, in a way that the user can't even see

[2018-12-04 13:53] andrewnenakhov commented on #851
Well, since it's *your* server, I'd probably suggest you not blocking non-encrypted traffic. It's bad practice to interfere with user's data!

Solution is, indeed, simple, but not free. I need to get our developers to switch from urgent tasks they have, get into context, do changes, test results, its hour (at best) of paid work to do properly. So far, we know that _one_ user was affected by this i

[2018-12-04 15:54] ge0rg commented on #851
Please let me try to explain it again, veeeeery sloooooowly:
* the user is on *my* server
* the user sent a message *to another server*, which is enforcing OTR
* that other server and Xabber started playing ping-pong, which is a DoS on *my* server
* the user didn't notice, because they can't see the ping-pong, because Xabber anti-spam. They still don't know what happened to them, except *maybe* th

[2018-12-04 16:09] andrewnenakhov commented on #851
@ge0rg well you did quite vaguely explain which server misbehaves, from your previous message I got the impression that it's _your_ server that enforces the encryption. Sorry for misunderstanding.

However, we're still not sure it's Xabber that needs to be urgently fixed, since all user in question has to do is turn off anti-spam filter. As for banning, it's up to you, but I'd rather suggest you b

[2018-12-04 16:19] ge0rg commented on #851
Alright, thanks. I agree that the other server / bot needs to be fixed as well, and I'll check whether I can implement some kind of throttling for them in the mid-term. This issue is not urgent, but I'd really like to see it fixed someday in Xabber. I suppose I got confused by the `wontfix` label. Thanks very much!

[2018-12-07 16:36] jimcbrodie commented on #850
Thanks Ilya. Have reset my password, but still getting the same issue.

Best,
Jim

On Mon, 3 Dec 2018, 04:25 Ilya Kalashnikov <notifications@github.com wrote:

[2018-12-10 07:04] oxoWrk commented on #850
What password did you reset: **Xabber Account** password or **XMPP account** password?
Need to reset your **XMPP account** password.  Go to your [Account page](https://www.xabber.com/account/). Click on  **XMPP account**(yourname@xabber.org) in the services section, then "Password and security" -> "Change Password"

[2018-12-10 18:15] jimcbrodie commented on #850
Hi Ilya,

That's exactly what I did (twice) - reset my XMPP account password...

Jim

On Mon, 10 Dec 2018, 07:04 Ilya Kalashnikov <notifications@github.com wrote:

[2018-12-11 10:31] andrewnenakhov commented on #850
@jimcbrodie ok I suggest you do the following. Email us info@xabber.com and provide your working xmpp account, we'll contact you. Once there, we'll schedule a time so you'll try to connect our XMPP server and we'll be monitoring connection on serverside. Then we'll know exactly why you can't connect.

[2018-12-11 11:32] KonomiKitten opened #852 "Possible silence crash in VCardManager"
Sometimes Xabber VIP 2.5(533) just closes on it's own, then reopens with no error message it's not an out of memory problem no other apps are doing it and the only errors I can find in my logcat are:

[code]

[2018-12-11 15:19] #850 closed

[2018-12-11 15:20] jimcbrodie commented on #850
Solved: awkward mobile menu layout and mistaken error message.

Thanks!

[2018-12-16 16:13] tsk7mde commented on #847
I use a validated certificate.
The certificate was issued by Alpha SSL.

I have already used different certificates it unfortunately does not work.
Pleas Help!

![cert2](https://user-images.githubusercontent.com/7759288/50055935-a85c9b00-0155-11e9-8515-4c4e19076133.JPG)

![cert1](https://user-images.githubusercontent.com/7759288/50055934-a4307d80-0155-11e9-8f31-de425eb2ced5.JPG)

![screenshot_2018

[2019-01-04 17:56] KonomiKitten opened #853 "URLs cannot be clicked/touched in chat"
**App version:** Xabber VIP 2.6(557)
**Android versions:** 7.1.2

**Problem:** URLs are no longer treated as links and cannot be touched to open them since the chat redesign in the latest build, they worked fine in the previous build, screenshot below.

![screenshot_20190104-195156](https://user-images.githubusercontent.com/12713710/50702800-1b4a9900-10a6-11e9-9185-7773cefe961b.png)

[2019-01-05 14:48] andrewnenakhov commented on #853
Yes, we're aware of that. It's a side-effect of a new chat interface, we had some issues with links, but decided to release without links highlighting. Will likely fix it in next release.

[2019-01-06 22:41] shaynem commented on #853
+1 super annoying

[2019-01-07 14:16] Giampa opened #854 "Crashlytics found an invalid API key: null."
Could you please help me with this issue?
I've cloned the repository, init and update the submodules (the respective folders are correctly populated),
I've chosen the following flavours:

xabber: devDebug
emojicon: debug
MemorizingTrustManager: debug

No way to build the project on Android Studio latest stable version, I receive:

[2019-01-08 12:04] panpansh commented on #854
just register account on fabric.io and add the keys to fabric.properties

[2019-01-08 16:14] panpansh opened #855 "Confererence NONAME user"
![screenshot_20190108-170750_messenger](https://user-images.githubusercontent.com/790586/50843246-9d69e480-1368-11e9-8e57-c4a6883fbb6f.jpg)

When I create a conference, I can see a user without name and because, I click on it and BAM.

`D/AndroidRuntime: Shutting down VM
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.xabber.androiddev, PID: 11146
    java.lang.NullPointerException: Attem

[2019-01-09 11:19] panpansh commented on #855
This visitor is only visible by xabber

[2019-01-10 07:16] Str4tocaster commented on #854
@Giampa Seems like something changed in crashlytics side.
I am fixed this issue in develop branch.

You need to clone new project from branch **develop**.
Then use **OPEN** flavour for build Xabber.
If project will have file **fabric.properties** delete it.

Hope, i helped you.

[2019-01-10 07:19] Str4tocaster commented on #853
Fixed in 97f255bc1ade4a4b5cdf3194983068d16f13025c

[2019-01-10 07:19] #853 closed

[2019-01-10 10:13] Giampa commented on #854
@Str4tocaster thanks for your reply. I've tried cloning your develop brach.
I've some problem with MemorizingTrustManager module.

`git submodule init`
`git submodule update`

But the folder with that submodule remain with a single .iml file (emojicon is ok). I didn't have the same issue with master branch. I copied the content of the master module in the develop folder, should that be ok? Many th

[2019-01-12 14:32] #854 closed

[2019-01-12 14:33] #826 closed

[2019-01-12 14:33] #816 closed

[2019-01-12 14:35] andrewnenakhov commented on #752
Most likely some other client or maybe server clears bookmarks, and subsequently Xabber removes conferences. This is not too important anyway, our brand new group chat solution is almost ready to roll out.

[2019-01-12 14:36] andrewnenakhov commented on #32
Down with MUC.

[2019-01-12 14:36] #32 closed

[2019-01-12 14:36] andrewnenakhov commented on #17
Actually there is one now. Not fully complete, but better than it was

[2019-01-12 14:36] #17 closed

[2019-01-12 14:37] #37 closed

[2019-01-12 14:38] andrewnenakhov commented on #87
Actually this one was implemented a long time ago

[2019-01-12 14:38] #87 closed

[2019-01-12 14:38] #119 closed

[2019-01-12 14:39] #120 closed

[2019-01-12 14:39] #126 closed

[2019-01-12 14:39] andrewnenakhov commented on #133
Implemented

[2019-01-12 14:39] #133 closed

[2019-01-12 14:41] andrewnenakhov commented on #22
Goes against our philosophy for Xabber

[2019-01-12 14:41] #22 closed

[2019-01-12 14:42] #77 closed

[2019-01-12 14:43] andrewnenakhov commented on #134
Actually, implemented

[2019-01-12 14:43] #134 closed

[2019-01-12 14:44] andrewnenakhov commented on #172
not in plans any more

[2019-01-12 14:44] #172 closed

[2019-01-12 14:45] andrewnenakhov commented on #274
We're working on a new protocol to replace MUC, these problems that originate with MUC protocol will be fixed in it too.

[2019-01-12 14:45] #274 closed

[2019-01-12 14:47] #752 closed

[2019-01-12 14:48] andrewnenakhov commented on #709
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:48] #709 closed

[2019-01-12 14:48] andrewnenakhov commented on #706
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:48] #706 closed

[2019-01-12 14:48] andrewnenakhov commented on #705
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:48] #705 closed

[2019-01-12 14:48] andrewnenakhov commented on #663
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:48] #663 closed

[2019-01-12 14:48] andrewnenakhov commented on #645
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:48] #645 closed

[2019-01-12 14:49] andrewnenakhov commented on #617
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:49] #617 closed

[2019-01-12 14:49] andrewnenakhov commented on #606
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:49] #606 closed

[2019-01-12 14:49] andrewnenakhov commented on #598
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:49] #598 closed

[2019-01-12 14:50] andrewnenakhov commented on #494
This was updated quite a bit. Closing anyway, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:50] #494 closed

[2019-01-12 14:50] andrewnenakhov commented on #265
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:50] #265 closed

[2019-01-12 14:50] andrewnenakhov commented on #216
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:50] #216 closed

[2019-01-12 14:50] andrewnenakhov commented on #150
Closing, since we're going to replace MUC protocol with new superior group chat protocol.

[2019-01-12 14:50] #150 closed

[2019-01-12 14:50] #44 closed

[2019-01-12 14:51] #43 closed

[2019-01-12 14:51] #789 closed

[2019-01-12 14:51] andrewnenakhov commented on #789
no updates shown

[2019-01-12 14:52] andrewnenakhov commented on #411
There is an option to filter these messages.

[2019-01-12 14:52] #411 closed

[2019-01-12 14:52] #293 closed

[2019-01-12 14:53] #391 closed

[2019-01-12 14:53] #240 closed

[2019-01-12 14:53] #161 closed

[2019-01-12 14:54] #10 closed

[2019-01-12 14:54] andrewnenakhov commented on #10
XEP-0146 is obsolete

[2019-01-12 14:54] andrewnenakhov commented on #52
Roster versions are actually supported

[2019-01-12 14:54] #52 closed

[2019-01-12 14:59] andrewnenakhov commented on #814
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 14:59] #814 closed

[2019-01-12 15:00] andrewnenakhov commented on #142
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:00] #142 closed

[2019-01-12 15:01] andrewnenakhov commented on #39
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:01] #39 closed

[2019-01-12 15:01] andrewnenakhov commented on #430
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:01] #430 closed

[2019-01-12 15:01] andrewnenakhov commented on #759
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:01] #759 closed

[2019-01-12 15:02] andrewnenakhov commented on #646
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:02] #646 closed

[2019-01-12 15:02] andrewnenakhov commented on #659
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:02] #659 closed

[2019-01-12 15:03] andrewnenakhov commented on #156
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:03] #156 closed

[2019-01-12 15:03] andrewnenakhov commented on #269
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:03] #269 closed

[2019-01-12 15:04] andrewnenakhov commented on #831
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:04] #831 closed

[2019-01-12 15:04] andrewnenakhov commented on #819
We're obsoleting conferences, in 2019 or in 2020 with a better protocol to replace them.

[2019-01-12 15:04] #819 closed

[2019-01-12 15:09] andrewnenakhov commented on #437
Looks like no longer an issue.

[2019-01-12 15:09] #437 closed

[2019-01-12 16:18] wheeskers commented on #22
@andrewnenakhov

Goes against Xabber philosophy? Resource concept is a part of core XMPP features so stating "Xabber is designed to be the best Jabber client for Android" on the project front page and ditching resources is rather strange.

I'm not trying to demand anything but comments clearly show this feature is really necessary for users with multiple resources, leaving issue open would help at

[2019-01-12 17:13] andrewnenakhov commented on #22
@wheeskers (geeky) users who need that functionality can choose from a variety of clients out there.

We're aiming to create an app that 'just works' for regular forks, and all these concepts of priorities, resources and other stuff are clearly obsolete by now. It's just a bad idea from 1999 that does not fit well in current environment where users want convergence and continue chat from any devic

[2019-01-13 08:09] plastikat commented on #22
@andrewnenakhov

What you are saying is so much aligned with contemporary (unfortunately, widespread) software design trends, which I personally strongly dislike. In the past, software used to be highly configurable and customizable; nowadays it gradually becomes less and less so. It is now a common practice to decide *for* end users what they need and then present them with minimum options so tha

[2019-01-13 13:04] Neustradamus commented on #816
Why have you closed this unresolved ticket?
Because there is now XEP-0412: XMPP Compliance Suites 2019?
- https://xmpp.org/extensions/xep-0412.html

[2019-01-13 16:36] andrewnenakhov commented on #816
@Neustradamus yes, first, because 2018 suite is obsolete with new siute.
second, I do have some issues with these compliance suites. I emailed XSF mail list just now, but I'll copy my email here:

part it's a pointless bureaucracy. Just listing XEPs makes it an
artificial metric that can be gamed easily. Typically if XMPP client
supports just one tiny part of a XEP, app developer immediately claim

[2019-01-13 16:46] andrewnenakhov commented on #22
@plastikat the idea of priorities and resources originated when disk space costs were more that 1000x more than it costs now, so server's job was to route incoming messages in some direction and to not store anything. Since that time, everything changed. Practice showed that everyone but the geekiest customers just can not grasp this concept, and if we'll complicate interface for the sake of 0.1%

[2019-01-13 22:53] licaon-kter commented on #529
2.6(557) server info says "push not supported"

How is this tested exactly?

[2019-01-13 23:06] licaon-kter opened #857 "What data is sent to xabber.com"
...on every app start?

Why does it still connect even if _"send errors and debug info"_ is disabled?

Why does it try to connect to a broken page at https://crowdfunding.xabber.com ?

Thanks

2.6(557)

[2019-01-13 23:14] licaon-kter opened #858 "Hide lock icon if OTR is inactive"
Thanks

2.6(557)

[2019-01-14 03:40] ge0rg commented on #855
I've encountered `null` named participants in MUCs that have a MUC avatar and send it as a presence from the bare JID. It shouldn't have the participant status code, but might be interpreted as a participant by less sophisticated implementations.

[2019-01-14 04:44] andrewnenakhov commented on #855
thing is, we see little value in fixing obvious bugs that are related to functionality that is soon to be made obsolete.

[2019-01-15 09:39] andrewnenakhov commented on #858
But lock icon is used to enable OTR. If we hide it, users will be unable to enable it. Right?

[2019-01-15 10:07] licaon-kter commented on #858
No, when inactive is set in Setttings, all OTR options are deactivated, grey, useless.

[2019-01-15 10:34] andrewnenakhov commented on #858
Hm. indeed. Why would anyone choose disabled OTR mode? We've got too many options in settings, gotta shrink their numbers.

[2019-01-15 10:45] licaon-kter commented on #858
You know that OTR has it's drawbacks (no multi device), I'd happily advise users to disable it so I don't end up with `?OTR:AAMDJ+MVmSfjFZcAAAAAAQAAAAIAAADA1g5IjD1ZGLDVQEyCgCyn9hb` messages on screen.

[2019-01-15 10:56] andrewnenakhov commented on #858
@licaon-kter that won't help anyway if remote party will send you encrypted messages that you can't decrypt.

[2019-01-15 11:01] licaon-kter commented on #858
No, I said that I advise them to "disable" it so we don't have mistakes. ;)

[2019-01-15 12:16] licaon-kter opened #859 "Hide lock icon in MUCs"
...as OTR is not supported anyway, right?

Also, pressing `activate` will crash the app:
[code]
_(Yeah, ignore the formatting garbage in logcat)_

2.6 (557)

[2019-01-15 13:47] #845 closed

[2019-01-15 14:02] Str4tocaster commented on #830
@Wohlstand I was test it on images which size is 20 and 50MB and it is work correctly.
Please, try version 557 from GP and give your feedback here. Thank you.

[2019-01-15 14:04] Wohlstand commented on #830
Okay, will pull the update... Latest version I have installed some weeks ago was still be buggy, however, it said "NullPointerException" Java upload error instead of crash which is much better, but still inconvenient. Gonna to test...

[2019-01-15 14:08] Str4tocaster commented on #859
Fixed crash in 4d7144701c84ef62c57725febefb71b8ae6c32cf
Hide OTR button in MUC - 01aa9d565a2494fc457ccbbbada3daadfe64bacb
Thanks

[2019-01-15 14:08] #859 closed

[2019-01-15 14:09] Wohlstand commented on #830
Just now I have tested and I have made a 8MP shot to send. Yeah, it doesn't crashing, but showing ":x:" icon which contains "java.lang.NullPointerException" error inside. Still won't send big photos...

[2019-01-15 14:10] Str4tocaster commented on #855
@panpansh I have no idea why your conference have empty occupants. But i fixed NPE. 67af00b62ca904d7245cf64e67d94627d38df8a2

[2019-01-15 14:10] #855 closed

[2019-01-15 14:12] Wohlstand commented on #830
Note, it was a test to send a shot from the camera... Gonna to try upload image from the gallery...

[2019-01-15 14:14] Wohlstand commented on #830
Attempt to send from the gallery was caused a crash of Xabber... I have sent the report with the "GitHub issue 830" description, is it's useful or not?

[2019-01-15 14:30] Str4tocaster commented on #830
@Wohlstand i see your crash report. There are android 4 on your device, right?
I need to test this crash on android 4. Thanks.

[2019-01-15 14:31] Wohlstand commented on #830
@Str4tocaster , Yes, Android 4.3

[2019-01-15 23:31] panpansh commented on #855
The visitor is conference.associations.fr/null => can I hide it please ?

[2019-01-16 17:26] panpansh commented on #855
fixed  here : https://github.com/redsolution/xabber-android/compare/develop...panpansh:patch-1

[2019-01-16 22:30] iamsimakov commented on #847
Hi, the same problem. We have self signed ssl cert. Android 8.1.
org.jivesoftware.smack.SmackException: javax.net.ssl.SSLHandshakeException: Handshake failed
	at org.jivesoftware.smack.tcp.XMPPTCPConnection$PacketReader.parsePackets(Unknown Source:891)
	at org.jivesoftware.smack.tcp.XMPPTCPConnection$PacketReader.access$300(Unknown Source:0)
	at org.jivesoftware.smack.tcp.XMPPTCPConnection$PacketR

[2019-01-23 09:15] IzzySoft commented on #770
May I ask what is the status here? F-Droid users certainly would be very excited for the exciting features as well – if they one day were available at F-Droid :wink:

Reference: [issue 1184 at fdroiddata](https://gitlab.com/fdroid/fdroiddata/issues/1184)

[2019-01-23 14:49] panpansh opened #861 "OTR not encrypt files"
`I/com.xabber.android.data.extension.otr.OTRManager@36a3620: transform incoming message... ?OTR:AAMDM0Jyl+6MGlQAAAAAAQAAAAEAAADAa2StsqLSy6OxfT33vY6CgYzsuGib7uMgU3QVc0RDRn31/r5IAI/uEYb6oRbBYDrKAYmSLGOwhTSgZLY7MbeMPs8GNn/lft6b/cHzv1R/QBXRhi/VTi2tlbysvcRst0hLxjCZE+RusicJiG1OrTcjgblY9oCMsWbIy4o060gWefvY5EHm5rouCDDRpGOBpkURFRS3yt4QAcC/6FdREyv1Vu1EnXONzbe9xSYt5MksIewnbkjH7fp2/TJK5nSjNrWaAAAAAAAAAAEAAACT

[2019-01-23 14:54] andrewnenakhov commented on #861
OTR encryption isn't supposed to encrypt files. Also, there is no standard in XMPP to encrypt files uploaded with HTTP Upload. Some clients make custom implementations for this, but they are just it: custom implementations, totally not interoperable.

[2019-01-23 14:54] #861 closed

[2019-01-23 17:50] panpansh commented on #861
There is something to do on HttpFileUploadManager and OTRManager if OTR is activated, there is no sense to upload a file in PLAIN in my opinion

[2019-01-23 18:56] panpansh commented on #861
![otr-http_upload-xabber](https://user-images.githubusercontent.com/790586/51629870-f9c42b00-1f48-11e9-8462-19b6c2bc5b67.jpg)

Let that ticket open please ..

[2019-01-23 20:42] panpansh commented on #529
Please dont use google services, amazon etc. This guy dont know what is the word privacy.

[2019-01-24 09:46] andrewnenakhov commented on #861
@panpansh this ticket can't be left open because it's invalid. If you want us to add a feature to send encrypted files, just create a corresponding issue. It would be best if you could find some standard to base this feature upon. Other clients should be able to decrypt files sent with Xabber, right?

[2019-01-24 19:20] linkmauve commented on #839
Note that I receive **two** of these invalid queries in a row from a Xabber-using contact when I connect.

I can’t tell you which version this contact is running since he replies with a `<not-acceptable/>` error to a XEP-0092 request.

[2019-01-25 10:58] giampa opened #862 "App Not Installed Error APK"
I'm having issue trying to install open debug or open release version of xabber.
I'm not doing anything special, just "generate apk" from Android Studio.
I'm using universal apk generated. The message I get is "App not installed". This happens on emulator and on a real device. What this could be possibly related to?
Many thanks in advance.

[2019-01-25 10:59] jpastuszek commented on #828
No sounds at all - I was using text match for alerts.

[2019-01-25 11:21] panpansh commented on #861
working on that using extension .otre
Status :
encrypt ok
upload encrypted ok
receive encrypted ok
decrypt ok
display from app ok
only work from filePaths (like images)
need to do for Uris
wait more

[2019-01-25 11:53] Str4tocaster commented on #862
@giampa If you have any installed versions of Xabber on you device, delete them.

[2019-01-25 12:18] Neustradamus opened #863 "Smack update to 4.3.1?"
Smack update to 4.3.1?
- https://www.igniterealtime.org/projects/smack/

[2019-01-25 13:07] panpansh commented on #862
Whats in debug log ?

[2019-01-25 13:33] andrewnenakhov commented on #862
@panpansh log of debug messages.

[2019-01-29 18:56] panpansh opened #864 "Account fakely disabled"
When I disable an account, I can see notifications for this account when app start.

as well,
wait a notification for this account don't open it,
disable the account,
and open notification .. it works

[2019-01-29 19:03] panpansh commented on #864
Just Offline mode can be set in status and displaying contacts and discussions ok.
but in preferences we want toggle action disable account

[2019-01-29 19:05] panpansh commented on #852
`feature-not-implemented` is it a smack side ?

[2019-01-29 22:21] msva commented on #663
Is it any documentation (or, even better, XEP number) about that magic "new superior group chat protocol"?

[2019-01-30 20:43] andrewnenakhov commented on #663
@msva it's not yet final, though web version of Xabber already works with it quite well. We'll submit it to XSF once we'll think it is mature enough. If you are interested to read it, email us info@xabber.com we'll send you an invitation to a Google doc with working data.

[2019-02-22 19:01] panpansh opened #867 "Bounty OTR files ?"
Hi team,
All is working good otr upload and files is encrypted.
Is there a bounty in crypto-currency for that please ?
Best regards

[2019-02-25 13:09] andrewnenakhov commented on #867
What? Could you please explain what exactly you are asking?

[2019-02-26 22:10] nicolaydammer opened #868 "xabber keeps crashing on the recent update of android 9 with samsung one ui"
Samsung recently published their new android 9 with their samsungs one ui,

Since then im having the problem as soon as xabber is logged in on the account it crashes, cant even open up settings or other things.

[2019-02-27 22:34] andrewnenakhov commented on #868
Hm. Email us info@xabber.com, we'll try to work something out.

[2019-03-06 19:42] Neustradamus commented on #861
@panpansh: any news?

[2019-03-10 12:36] casperklein opened #870 "Start on boot not working"
Xabber: 2.6.2 (587)
Android: 9

I just installed Xabber on a new phone and noticed, that after a reboot, Xabber does not start automatically. Settings / "Start on boot" is of course activated.

[2019-03-10 12:57] andrewnenakhov commented on #870
Strange, we've specifically tested it on all our available devices in latest update... email us info@xabber.com pls and specify device type, we'll try to think of how to fix it.

[2019-03-10 14:06] casperklein commented on #870
Sorry for the noise! It just took some time to start.

(fyi: whatsapp almost instandly started, Xabber took about 2min - but thats no problem for me)

[2019-03-10 14:06] #870 closed

[2019-03-10 15:01] andrewnenakhov commented on #870
@casperklein how do you know that whatsapp started almost instantly? Because you received a whatsapp message?

[2019-03-10 20:48] casperklein commented on #870
Yes. I sent me a Whatsapp and Jabber message while my phone was off. Then I started the phone. After unlocking, the WA message almost instantly arrived. Xabber took 2 minutes to start/login (I also verified it by looking at the prosody logs). There is no battery optimization or anything like that for both, WA & Xabber.

[2019-03-11 07:29] andrewnenakhov commented on #870
@casperklein most likely WhatsApp simply received a push notification. Xabber will have push notifications support soon, but it'll only work on servers with XEP-0357.

[2019-03-12 10:40] gonter commented on #868
Similar problem here, my Samsung DuoS2 (GT-S7582) crashes when trying to check messages since I upgraded to Xabber 2.6.2 (588).  Previously, with Xabber 2.6.x (probably 569) everything was fine.  Of course, since this is a very old mobile device, Samsung did not push any updates for me.  The device is stuck at Android 4.2.2.

I already uninstalled and reinstalled this version (Xabber 2.6.2 (588))

[2019-03-12 10:59] gonter commented on #868
As a (temporary?) work around, I switched to the pix-art.de xmpp client [1]

* [1] https://github.com/kriztan/Pix-Art-Messenger

[2019-03-12 12:06] Str4tocaster opened #871 "Crash in Chat screen on android 4"
Crashes when trying to check messages since I upgraded to Xabber 2.6.2 (588). Previously, with Xabber 2.6.x (probably 569) everything was fine. Of course, since this is a very old mobile device, Samsung did not push any updates for me. The device is stuck at Android 4.2.2.

I already uninstalled and reinstalled this version (Xabber 2.6.2 (588)) and tried Xabber Beta which appears to be the same ve

[2019-03-12 12:11] Str4tocaster commented on #871
Fixed in 450c06c1f158a4e1d272acc2a38996c74053716c. Version with this fix will release as 489. Please check it and reply.

[2019-03-12 12:15] Str4tocaster commented on #868
@gonter Hello. Your issue is not the same. I created separate issue for you and also fixed it. Please, check it in https://github.com/redsolution/xabber-android/issues/871

[2019-03-12 12:44] Str4tocaster commented on #868
@nicolaydammer Hello. I sent you invitation to beta version of Xabber. Please, install this version and reproduce issue. It will help us to fix issue.

[2019-03-12 13:01] nicolaydammer commented on #868
I've seen your invite i will install that version and see if it happens
again, it is not a consistent problem, but i will give it a week or 2 and
see if it comes back.

Op di 12 mrt. 2019 om 13:44 schreef Valeriy Miller <notifications@github.com

[2019-03-12 15:09] gonter commented on #871
Thanks for the quick response and fix.

"will release as 489" ... where would I find this?

[2019-03-12 15:32] andrewnenakhov commented on #871
@gonter wait for next update. First on Xabber Beta on Google play.

[2019-03-12 19:15] TaylanUB opened #872 "XEP-0363 (HTTP File Upload) support of server not detected"
Xabber doesn't seem to detect the XEP-0363 (HTTP File Upload) support of the XMPP server of feministwiki.org. It's marked as not supported under "Server info" and trying to send a file gives an error message saying the server doesn't support it.

Gajim on Windows successfully detects the support and is able to send files to other users just fine, so the server definitely supports it.

What might b

[2019-03-13 04:24] Str4tocaster commented on #872
@TaylanUB Hello. Please specify version of Xabber and android that you use?

[2019-03-13 13:27] TaylanUB commented on #872
Android: 8.1.0 (LineageOS 15.1)
Device: Nexus 6p (angler)
Xabber: 2.6.2 (588)

I actually still had the Valentine's Day edition,
but updating to 588 didn't help.

By the way the app is now constantly crashing. :-(

Valeriy Miller <notifications@github.com> schrieb am Mi., 13. März 2019,
07:24:

[2019-03-13 13:37] Str4tocaster commented on #872
@TaylanUB Are you use Deutsch locale? In this locale was a issue with translation, that also fixed. Please, wait for next update.

[2019-03-13 13:53] TaylanUB commented on #872
Indeed, my device was set to German.
Thanks for the info, works fine in English. :-)

Would it help if I created you an account on the
XMPP server, by the way? I can send you the
password privately, since it's an invite-only server.

Valeriy Miller <notifications@github.com> schrieb am Mi., 13. März 2019,
16:38:

[2019-03-13 13:56] andrewnenakhov commented on #872
@TaylanUB it would definitely help. Email credentials to info@xabber.com, we'll check it out.

[2019-03-13 14:34] TaylanUB commented on #872
All right, I sent an email to that address with a login.
Thanks for looking into it.

On Wed, Mar 13, 2019, 16:58 Andrew Nenakhov <notifications@github.com>
wrote:

[2019-03-15 10:43] gec100 commented on #868
Hi i have the same issue (crashing as soon the acc is loged in) but i think it started when I added invite only conference.

[2019-03-15 11:21] Str4tocaster commented on #868
@gec100 Hello. Please specify version of Xabber and android that you use? And also locale of your system.

[2019-03-15 11:31] gec100 commented on #868
Hi @Str4tocaster . Latest live and Beta version of Xabber available through Playstore on Samsung S8 Android 8.0. I'm using English as display language and Croatian for typing. Not sure if that is answer to your question.

[2019-03-16 06:45] thedolphin opened #873 "OTR session start while counterpart is offline"
OTR session start must be attempted regardless of state of counterpart.
Offline state may be due to presence problems.

[2019-03-16 15:16] gec100 commented on #868
seams the problem is gone after upgrading android to 9.0

[2019-03-16 15:17] andrewnenakhov commented on #873
That's not how OTR is supposed to work. We are plan to move away from OTR anyway so no point doing this, sorry.

[2019-03-16 15:17] #873 closed

[2019-03-16 15:22] thedolphin commented on #873
May be I wasn't clear enough.
The problem is that all buddies is online, but one is invisible. Then Xabber refuses to start OTR, while, for example, mcabber will start OTR without problems.

[2019-03-16 15:29] andrewnenakhov commented on #873
I understand your request. I'm sorry, that is not something I can spend our resources on. Also, I think your problem has an easy workaround: xmpp clients have the ability to advertise their online presence. Your buddy should make himself visible, like the rest of you.

[2019-03-16 17:06] nicolaydammer commented on #868
Got the problem again on xabber beta, I guess there is a auto bug report system in it? Seems to happen when I am also logged in on pidgin on my desktop. Maybe that is conflicting.

[2019-03-17 14:34] nicolaydammer commented on #868
Also can't change profile settings, stuck on trying to save it.

[2019-03-18 05:26] Str4tocaster commented on #868
@nicolaydammer There is a new version of Xabber Beta available for you in Crashlytics. Check it please.

[2019-03-18 11:58] nicolaydammer commented on #868
That new version solved a lot of problems, will see what happens coming days

[2019-03-18 13:53] dolda2000 commented on #828
I can confirm that this appears to be fixed now.

[2019-03-18 13:57] Str4tocaster commented on #828
@dolda2000 Glad to hear that!

[2019-03-18 13:57] #828 closed

[2019-03-18 15:15] gonter commented on #871
I installed the new version (Xabber Beta 2.6.2(591)) on my mobile phone and it is workin again, thanks!

[2019-03-19 05:00] #871 closed

[2019-03-19 21:20] nicolaydammer commented on #868
@Str4tocaster same problem still exists while my pidgin is also running on my pc. Think it's recreatable by turning on xabber on the phone, then also a pc with pidgin, receive a couple of messages, turn the xabber on the phone off and close the app then fire up xabber again and turn on the account then it crashes for me.

[2019-03-20 06:23] Str4tocaster commented on #868
@nicolaydammer I see your crashes in crashlytics, but it looks like not related with your pidgin client. Are you sure that it is not coincidence?

[2019-03-20 09:34] nicolaydammer commented on #868
@Str4tocaster i am able to recreate it that way, i cant look behind the scene sadly

[2019-03-22 04:12] oxoWrk commented on #872
This is your server disco info and it does't have http-upload (used Gajim)

[code]

and further

[code]

Check server config

[2019-03-22 07:49] FeministWiki commented on #872
Hi, server admin here.

I don't know how exactly you've produced that XML output (I know about the XML console of Gajim but not how you made it generate that output) but Gajim certainly indicates in its GUI that HTTP File Upload is supported (with a green checkmark in the window "Accounts -> Advanced -> Server Information"). See following screenshot for clarification.

![screenshot](https://user-i

[2019-03-22 08:12] FeministWiki commented on #872
I've just checked what the Gajim XML console prints out when I newly connect to the server, and found the following snippet:

[code]

So the server is definitely advertising support for `urn:xmpp:http:upload`. That also seems to be the token Xabber is looking for in the following place in the code:

https://github.com/redsolution/xabber-android/blob/7db2ed766d24c4d4ad49455b565986b33f0faccc/xabber/

[2019-03-22 12:15] Str4tocaster commented on #872
@FeministWiki I checked id. This is a bug in the application. Will be fixed in next update.

[2019-03-24 06:16] FeministWiki commented on #872
Thanks! Much appreciated.

[2019-03-25 08:37] RachelHendy opened #874 "OTR4 support"
Hi!
As far as I understand, Xabber implements the OTR 3 spec... any plans to eventually  implement support for OTR4 https://github.com/otrv4/otrv4 perhaps as an option?

[2019-03-25 09:13] #874 closed

[2019-03-28 14:59] Neustradamus commented on #874
Why have you closed the ticket?

[2019-04-03 05:07] Str4tocaster commented on #872
@FeministWiki This issue was fixed in new version of Xabber Beta (601). Please check it and comment here.

[2019-04-03 05:35] Str4tocaster commented on #862
@giampa I close this issue. If it is not solved, open issue again.

[2019-04-03 05:35] #862 closed

[2019-04-04 09:24] wrooot opened #877 "Weird sorting of chat participants"
I join a room on a server and swipe to see participants. They are not sorted by name or status, seems random. But all moderators are showing at the bottom. Is there a setting to set sorting order?

[2019-04-04 09:28] wrooot commented on #877
It seems it first shows users with names starting with capital letters. https://photos.app.goo.gl/G8eQC17ZntmqGJmq7

[2019-04-11 12:49] tbjorheim opened #878 "Hangout - Not able to send message"
I use Xabber with Hangout, and it has worked until lately where I only can receive messages, but not send. When I tries to send, I get an error which says:

`XMPPError: bad-request - modify`
`If set, the 'from' attribute must be set to the user's full JID.`

I use the same account with Pidgin on my computer, and it is setup as a standard XMPP account, and there it works fine.

Is it possible to fi

[2019-04-12 13:52] TaylanUB commented on #872
Sorry about the delay. I now installed Xabber Beta and tried to send an image. The server's support is detected and I was able to send the image. :-)

[2019-04-12 13:52] #872 closed

[2019-04-14 23:29] casperklein opened #879 "Additional share feature (request)"
When sharing e.g. a URL in chrome browser, you can choose Xabber and then a contact to share with.
It would be nice, to have also the ability to share the URL directly with a Xabber contact.
Whatsapp provides something like that. When sharing a URL you can choose "Whatsapp" or directly a contact with which you recently had a chat with.

[2019-04-15 07:16] mariusft commented on #818
This BUG appears fixed in 2.6.3(602)

[2019-04-15 07:16] #818 closed

[2019-05-02 12:05] m00nyONE opened #881 "adding voip support via jingle (request)"
i just set up an openfire server on my rootserver and was searching for clients on android. there are only a few that are good & all of them have one problem. astraChat allowes me to make voip calls but no encryption, on conversations there is no voip support neighter on xabber . but the have everything else.
it would be awesome to add support for voip calls in xabber to finally resolve the proble

[2019-05-02 12:21] andrewnenakhov commented on #881
We're working on proper VoIP support. First  in Xabber for iOS,as this is the most difficult platform to work on.

However, we are heavily modifying the signal protocol, cause neither XEP-166 nor XEP-353 in their current form account for necessity to work with multiple concurrently connected clients and with clients that rely on push notifications. So whatever we come up with will work well in all

[2019-05-03 10:59] weiss commented on #851
It seems Xabber also auto-responds to `type='error'` messages?

A user on my server received a message from (presumably) Xabber with the following `<body/>`:

As the JID of the Xabber user is blocked, my server responded with a `type='error'` message.  It seems this triggered Xabber to send a stand-alone `<received/>` marker, which resulted in another `error` from my server.  Xabber then responded

[2019-05-06 09:46] ge0rg commented on #851
(just noticed I had _yet another_ incident with a Xabber user on my server, playing ping-pong with jabber.otr.im, with 420k messages in the user's MAM archive. Luckily it stopped after ~24hrs, probably because the user's phone battery went empty, or they noticed the huge data / battery drain and killed Xabber)

[2019-05-13 10:55] Abyss777 opened #882 "History support (XEP-0313) is not detected on Openfire"
I'm using Openfire 4.3.2 with Monitoring Plugin (with XEP-313 support)
It correctly detects XEP
But "Support for chat history server store is not determined yet"
![Screenshot_20190513-154752_Xabber](https://user-images.githubusercontent.com/5688080/57616345-43d42980-7597-11e9-8d6e-4e1d70d1c95c.jpg)

[2019-05-15 17:03] traumschule commented on #840
being able to save chat history to a file would be definitively a great feature. right now one has to tab a message and manually mark every additional message to copy a conversion or parts of it.

[2019-05-15 17:15] andrewnenakhov commented on #840
@ghsrcgh @traumschule there is an existing option to export all specific chat to an HTML file. It's not full 'save backup and restore as it was', but better than manually selecting all messages. Swipe left while in chat, to place where your vCard details are. There will be additional options, one of them is export history. It is saved as an HTML file.

[2019-05-16 09:21] wrooot opened #883 "Can't get rid of a chat"
I have a few recent chas showing at the top when i run Xabber. I try to archive them, but every time i run xabber again, they show up. Only removing room bookmark or contact makes it disappear for good. Xabber is not allowed to run in background. Maybe it can't save state of chats because of that.

[2019-05-16 09:32] Str4tocaster commented on #883
Chat status may not be saved if you close the application immediately after you archive the chat.
We know about this problem and will try to fix it in the future.

[2019-05-16 09:36] wrooot commented on #883
I have tried waiting for 10 seconds and then manually exit Xabber via settings. Still the same. Ok, will wait for a fix.

[2019-05-16 09:42] andrewnenakhov commented on #883
@wrooot but you know you that Xabber *should* be allowed to run in the background to work properly, do you?

[2019-05-16 10:01] wrooot commented on #883
I need to clarify, that I haven't added it to restricted apps list in Android settings. I only disable tray icon, which in turn makes it not stay in background. I only need Xabber sporadically and don't need it to stay all the time. Also don't like icon showing in notifications bar all the time 😀 so i understand the drawbacks and accept them. I have tried to enable tray icon again and test by manu

[2019-05-16 10:02] andrewnenakhov commented on #883
@wrooot btw, these chats aren't conferences, are they?

[2019-05-16 10:07] wrooot commented on #883
First one was conference. So i have removed the bookmark and it is gone now. I also have one one-on-one chat showing. I don't want to remove this contact from my roster to hide the chat. Not a major issue, can live with that 😀

[2019-05-16 12:01] Str4tocaster commented on #883
@wrooot It is directly related. If you close app before it saves chat status to db, it wont be saved. You should not exit app manually.

[2019-05-16 12:13] wrooot commented on #883
If i try to archive chats (both conference and one on one) and wait in the app for a minute or so and then go to desktop, then launch Xabber again, the issue is still present. So, maybe it is related to unloading from memory, but Xabber takes long time before it saves the state to db even when the app is actively used.

[2019-05-16 14:17] Str4tocaster commented on #883
@wrooot Thanks for your observations, this will help us.

[2019-05-20 05:24] sergey-feo opened #884 "Feature request: options to reduce iddle traffic"
Hello!
Excuse me for my poor English please :-)

When I do nothing, Xabber creates traffic about several kylobytes per hour or more.
Feature request: add some options that can significantly reduce this iddle traffic (just guesses: rare server pings, do not transmit and receive presence states, etc).

With best regards, Sergey

[2019-05-20 05:28] andrewnenakhov commented on #884
Server pings are controlled by, you guess it, server. IT's not supposed to be configured on clientside.

We are working on push notifications, however, that'll allow app to remain dormant until some message is received by server that should be delivered to client.

[2019-05-20 05:28] #884 closed

[2019-05-20 06:11] sergey-feo commented on #884
Thank you very much for explanation!

[2019-05-22 09:31] VioLaDiDa opened #885 "[Bug] Messages are not added to chat after notification about message is clicked"
Since update to Version 2.6.3 (602) on both Android 8 and now Android 9 (Sony Xperia XZ2 Compact) I have an issue with new messages not showing up in chat after I have received and clicked a notification in the notification tray.

### Some Details:

- When I run xabber in the foreground and turn off the display: When I receive a notification about a new message, I unlock my phone and see no new me

[2019-05-27 00:28] nicolaydammer commented on #868
@Str4tocaster so about those crashes, it's still not fixed after all this time, any idea why its still crashing?

[2019-05-28 14:43] gemboot commented on #704
Hello,
I was just wondering if this feature is planned for anytime soon ? It will indeed be very useful :)
Anyway, thank you again for this cool app, I just love it !

[2019-05-28 14:52] andrewnenakhov commented on #704
We plan to backup and restore settings via Xabber account, it's planned precisely for this purpose, and also for syncing settings across devices (not passwords, though, we don't want to sync passwords!). Actually, it's already partly usable for this purpose: accounts, their colors and ordering is already synced. We also plan to sync notification settings, custom notification settings, collapsed-op

[2019-06-07 09:30] vad1m commented on #737
Any news on this ? No updates in f-droid since 2017-05-15. Thank you!

[2019-06-16 20:15] bash-git commented on #885
Hi,
I encountered the same error on my Moto G5. I checked the logfile an found at least two entry for a message which got lost. I found more Exceptions in the logfile but I have not verified all of them.

2019-06-15_17-12-40 D/Smack﹕ RECV (0): <message from='<***fromUser***>' to='<***me***>' xml:lang='en' type='chat' id='<***id***>'><request xmlns='urn:xmpp:receipts'/><markable xmlns='urn:xmpp:cha

[2019-07-18 12:51] Human commented on #770
Maybe forking is the right solution?

[2019-07-18 21:32] IzzySoft commented on #770
@Human of course you can fork, fix and provide a PR. I can't (well, I can fork, but then I'm stuck – not being an Android developer and all that). To clarify why I chimed in: I'm one of the F-Droid maintainers, walking through our issue queue and trying to figure what is stuck and where. I do that about 2 or 3 times a year for house-keeping.

So no offense meant, but may I be so bold and ask the s

[2019-07-18 22:13] andrewnenakhov commented on #770
@IzzySoft @Human we're still committed to doing this. Just really busy :(

we initially planned to do lots of improvements and roll it out all together with our server and ios version and web version but we ran into some problems with app performance and stability, fixing this took a lot of time. Maybe we'll not try to roll out everything at once and will just release a copy of what we have on Goo

[2019-07-18 23:56] IzzySoft commented on #770
Hi @andrewnenakhov – that sounds great, thanks! Looking forward to it. Feel free to ping me if I should update the issue on our end to get some packager to take a look (when there is a fitting tag, that is). "Next week" is more than I dared hoping for!

[2019-07-20 18:23] casperklein commented on #885
I just expirienced the same. Samsung S10 (Android 9).

[2019-07-20 19:00] andrewnenakhov commented on #885
@casperklein what was your android version? SHould be fixed in latest update.

[2019-07-21 16:21] casperklein commented on #885
Android 9 (June Security Patch) & Xabber 2.6.3 (602).

Just noticed there was a Xabber update two days ago. Going to install that now :)
Thanks for fixing.

[2019-07-24 12:34] Str4tocaster commented on #770
Hello @IzzySoft
I am currently working on version of Xabber Android for F-Droid.
I have a question about com.google.android.gms:play-services-safetynet dependency.
Have F-Droid restriction on this dependency or not? We use recaptcha from this packet to signup process in our cloud service.

[2019-07-24 12:37] Bubu commented on #770
@Str4tocaster I'm pretty sure nothing under ` com.google.android.gms:*` is free software. So it cannot be included in F-Droid.

[2019-07-24 15:32] IzzySoft commented on #770
Apart from that, [ReCaptcha is a nightmare for users](https://en.wikipedia.org/wiki/ReCAPTCHA#Criticism), not only privacy-wise. Whenever I encounter it, I close the tab/app/whatever straight away. I'm tired of marking buses, store-fronts, water hydrants … over and over, only to finally be allowed to check a box (last time I gave in, I gave up at round 10). I'd strongly recommend dropping that.

[2019-07-25 09:59] andrewnenakhov commented on #770
@IzzySoft well it depends on how it set up and how many attempts occur with similar parameters. In our case for most registered users it doesn't appear even once, acting invisibly. However, some users did report that on some devices it just fails to load, making registration impossible. IN this case we suggest registering with our (or any other server) website to obtain an account.

Also, for now,

[2019-07-25 11:23] IzzySoft commented on #770
Meaning, the fdroid flavor would come without ReCaptcha (and without any other GMS/proprietary dependencies), right? Then it should be fine (pending approval from @Bubu – I'm not familiar with the "build stuff").

[2019-07-25 11:56] andrewnenakhov commented on #770
Yes, without ReCaptcha

[2019-07-25 12:55] Str4tocaster commented on #770
@Bubu can you check branch feature/fdroid for compliance F-Droid requirements? I tried to remove all proprietary dependencies. The build variant for F-Droid is openProdRelease.

[2019-07-25 13:05] Bubu commented on #770
Looks good from a short glance.

[2019-07-26 08:54] Str4tocaster commented on #770
@Bubu What our next steps to release Xabber on F-Droid?

[2019-07-26 09:31] wrooot commented on #883
In the latest version i was able to remove saved chat and now it doesn't appear again

[2019-07-26 09:31] #883 closed

[2019-07-26 09:32] wrooot commented on #883
As a side effect now I can't disable xabber's icon in notifications bar.. 😊

[2019-07-27 12:49] wrooot commented on #883
This looks confusing. Keep bulbs look similar to Xabber bulb.. :)
![Screenshot_20190726-123655](https://user-images.githubusercontent.com/7195609/61994659-0eaf8180-b086-11e9-9115-bed1d3359f30.png)

[2019-07-27 12:52] andrewnenakhov commented on #883
Permanent icon is necessary to keep xabber working in background. Sorry about that but it's how Android works these days.

[2019-07-27 12:55] wrooot commented on #883
Actually we have discussed this a few months ago (above). I was ok with the option to remove that icon and not having it in the background all the time. Now there is no such option anymore. Anyway, the issue with stuck chats is fixed, so i have closed this issue.

[2019-07-27 13:01] andrewnenakhov commented on #883
@wrooot we are planning to add support to push notifications, so users of servers that support XEP-0357  will not have this persistent icon at all.

[2019-08-06 23:20] scottslowe commented on #878
I'm seeing the same behavior with Xabber 2.6.4 (634). I'm able to receive messages, but trying to send messages generates the same error message as the OP.

[2019-08-06 23:44] andrewnenakhov commented on #878
Google have officially '[sunsetted](https://gsuiteupdates.googleblog.com/2017/03/updates-in-g-suite-to-streamline-hangouts-and-gmail.html)' XMPP compatibility of Hangouts on June 26, 2017. In years before that, since 2013 they've been quietly removing XMPP features, one by one.
In that shutdown statement Google did claim that third party xmpp clients will continue to work, and they did, for a time

[2019-08-07 00:58] scottslowe commented on #878
Fair enough---mind marking this issue as "Won't Fix" and closing the issue, so that folks know? Thanks!

[2019-08-13 11:57] andrewnenakhov commented on #770
@Bubu what should we do next? Just wait?

[2019-08-13 12:47] Bubu commented on #770
I have no time to do anything here, sorry.

[2019-08-13 16:41] IzzySoft commented on #770
@rudloff could you maybe pickup where Bubu left?

[2019-08-20 16:41] shmibs commented on #885
my boyfriend says he's still seeing this bug on the latest 2.6.4

![android version](https://user-images.githubusercontent.com/2358713/63366434-99ef0080-c32e-11e9-8eaa-8f68b400ef03.png)

[2019-08-20 19:20] andrewnenakhov commented on #885
@shmibs we didn't see this issue for quite a while. Anyway, our android developer had recently quit, so it'll be a while before we find a replacement... and funds to pay him. Our crowdfunding campaing is not exactly booming...

[2019-08-20 21:11] Rudloff commented on #770
I tried to build a7da670802882b2e1ae867e6ade2fd4bf15267fd with the open variant and it seems to work as expected.
Now, we would need a stable tag that includes this variant.

[2019-08-21 05:23] shmibs commented on #885
understandable, yeh

♥

[2019-08-21 08:58] IzzySoft commented on #770
Thanks Pierre!

@andrewnenakhov your turn again, answering the "what should we do next": ^^ 😃

[2019-08-27 21:23] Str4tocaster commented on #737
We are resolve this issue in https://github.com/redsolution/xabber-android/issues/770
So i close this one.

[2019-08-27 21:23] #737 closed

[2019-08-27 21:26] Str4tocaster commented on #770
@Rudloff thanks for testing! We will prepare release build and make a stable tag soon.

[2019-09-04 20:08] wrooot opened #889 "Two messages shown as sending on Android 10"
Just updated Pixel XL 1st gen and when i send a message in MUC it sends it and then shows a second copy of it with a clock icon (pending?). Which is not sent and i can delete it from history. Can be a bug in server software, but was working fine before the update.

[2019-09-10 02:33] RajaBanerjee1 opened #890 "crashlytics=null"
I keep getting crashlytics=null with

Android Studio 3.5
Build #AI-191.8026.42.35.5791312, built on August 8, 2019
JRE: 1.8.0_202-release-1483-b03 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

Is there a known version of Android Studio this builds with ?

[2019-09-13 14:13] andrewnenakhov commented on #889
This is a known error, happens because MUC is an ugly protocol. We don't plan to fix it, because we're preparing to support a far superior group chat protocol.

[2019-09-13 14:13] #889 closed

[2019-09-13 14:13] #878 closed

[2019-09-16 15:43] licaon-kter commented on #770
Should this be a *new* app: `com.xabber.android` like on Google Play?

Or the *old* `org.xabber.androiddev` ?

[2019-09-17 06:52] licaon-kter commented on #156
@andrewnenakhov ok, the new protocol, but the UI... will it allow the user to be notified "only on mention" then in 2020?

[2019-09-17 20:43] licaon-kter commented on #835
@andrewnenakhov you've mentioned this (verbatim) on twitter too, what presence is missing exactly from Conversations? What's missing from (current XEP, not future yet not submitted) groups?

[2019-09-17 20:51] licaon-kter opened #892 "Android notification settings not respected"
HEAD fdroid branch, Huawei Pie

Steps:
* two public MUCs (current XEPs, not future yet not even submitted ones)
* unable to setup "notify only on mention" since that's not a feature
* try custom notifications
* setup via Android Settings to "block" for each

Expected behaviour:
* never see notifications (it's either ALL or NONE for Xabber atm)

Actual result:
* random notifications popping up for

[2019-09-17 20:59] andrewnenakhov commented on #835
@licaon-kter can you view all online members in a roster group in Conversations?

[2019-09-17 21:01] licaon-kter commented on #835
@andrewnenakhov Yes, always seen them.

Maybe you didn't test the app since 2015? Not sure how it was back then...

[2019-09-17 21:03] andrewnenakhov commented on #892
Could you please describe steps with more clarity? Also, not exactly clear what you want to achieve. Get notified only whey you are mentioned?

btw, you may call MUCs as just MUCs, we use a different name for our upcoming group chats (they are called, 'Group chats', or 'Awesome group chats' or 'new awesome group chats').

[2019-09-17 21:13] andrewnenakhov commented on #835
Well, [that's](https://xmpp.redsolution.com/upload/4bddf4f264f5c6577f16551f16a0abdf3f7ff84d/1H01ggZM/Screenshot_20190918-020431.png) what I curently see in contacts. Notice that there are two identical contacts of an online account, which is online, but is identical to offline contacts. :-\

[2019-09-17 21:17] licaon-kter commented on #892
I'd like that, but apparently you, for unknown reasons, [tie this **UI feature**](https://github.com/redsolution/xabber-android/issues/156#issuecomment-453754286) to _"the awesome not yet submitted, hopefully translated by now, groupchats of the future"_.

So, now I need to decide, do I mute Xabber completely or can I mute those groups specifically? Looking in the group settings I see something th

[2019-09-17 21:28] licaon-kter commented on #835
And you want to _"hide offline"_ (use the menu, press the checkbox) or _"show an online label under online contacts"_ (settings->dynamic tags press the checkbox)?

Or is the fact that _"presence"_ or better said _"online status"_ is not shown by default that's bothering you?

I felt the same for a while (and did not understand the point that Daniel was making), and I do have both _"dynamic tags"_

[2019-09-17 21:30] andrewnenakhov commented on #156
@licaon-kter it will. I'll work mostly like telegram group chats.

[2019-09-17 21:43] andrewnenakhov commented on #835
Oh. It helped. Dynamic tags!! Who could have possibly known that dynamic tags are tied to presence information and roster groups at once! Speaking of UI anti-patterns... 😂

You see, we clearly understand Daniels approach to hide everything under the hood, like, users don't care, they just want a message delivered. We have a different approach: we believe that users should not be treated as fools a

[2019-09-17 22:03] andrewnenakhov commented on #892
@licaon-kter can't you just press 'mute' on a MUC? We didn't do an obvious feature to notify on mention for a simple reason: mentions are not defined in MUCs, unless you count 'somename,' as mention. Or was it 'somename:'? or both?

Please be more clear with your descriptions. It's really hard to follow what you mean by some things, like 'a magical setting appears elsewhere...' - which setting do

[2019-09-17 22:29] licaon-kter commented on #892
That would be enough for me, yes.

Enabling "custom notifications" in a group chat **creates a new notification channel**.
How/When does a user get informed about that? I did not see a toast or anything that could signal that "NOW you can do this, but you need to go here".
eg. many apps have delegated notifications settings to Android since 8 brought channels, so you can put a button there that op

[2019-09-17 22:56] andrewnenakhov commented on #892
Yeah, right. Just like any Telegram does. That's the only good way now in new androids

Why on earth should a user ever be informed about such things? If google wanted a user to be informed about the creation of new notification channels, it could have made a requirement for a user to explicitly grant permission for it. Just like for Location/Camera/etc.

This would lead to extremely shitty user e

[2019-09-19 13:45] licaon-kter commented on #892
Muting does what I want for now.

Hope these notifications get fixed too. ;)

[2019-09-27 10:24] luoshiduan opened #893 "After integration, MyDemo unable to receive friend information，But it always receives heartbeat"
I want to consult , the heartbeat should be to indicate that the server is properly connected. The message I sent from a device is that your xabber can receive it, but my can't receive it. But my demo only sees the heartbeat and does not see the data received.
---------------------------------------
My Locat:09-27 06:12:28.338 19558-20057/cn.com.homedoor.phonecall D/SMACK: SENT (0): <iq to='im.mee

[2019-09-27 10:26] luoshiduan commented on #893
09-27 06:21:29.268 19558-20057/cn.com.homedoor.phonecall D/SMACK: SENT (0): <iq to='im.meetsoon.cn' id='5odpC-84' type='get'><ping xmlns='urn:xmpp:ping'/></iq>
09-27 06:21:29.298 19558-20058/cn.com.homedoor.phonecall D/SMACK: RECV (0): <iq xml:lang='en' to='20000000428@im.meetsoon.cn/local_Th76P1ZZ' from='im.meetsoon.cn' type='result' id='5odpC-84'/>
09-27 06:21:29.298 19558-20058/cn.com.homedoor.

[2019-09-27 10:26] luoshiduan commented on #893
09-27 06:21:29.268 19558-20057/cn.com.homedoor.phonecall D/SMACK: SENT (0): <iq to='im.meetsoon.cn' id='5odpC-84' type='get'><ping xmlns='urn:xmpp:ping'/></iq>
09-27 06:21:29.298 19558-20058/cn.com.homedoor.phonecall D/SMACK: RECV (0): <iq xml:lang='en' to='20000000428@im.meetsoon.cn/local_Th76P1ZZ' from='im.meetsoon.cn' type='result' id='5odpC-84'/>
09-27 06:21:29.298 19558-20058/cn.com.homedoor.

[2019-09-28 21:45] andrewnenakhov commented on #893
@luoshiduan could you please describe more clearly what you want to achieve? What exactly do you mean by 'device' that sends the message?

[2019-10-07 20:43] Str4tocaster commented on #770
@Rudloff The stable tag https://github.com/redsolution/xabber-android/releases/tag/v2.6.6 is here.
We are ready to return at F-Droid!

[2019-10-07 20:56] licaon-kter commented on #770
@Str4tocaster and some answers?

[2019-10-08 08:36] Str4tocaster commented on #770
@licaon-kter
com.xabber.android

[2019-10-08 09:02] andrewnenakhov commented on #857
Because it is neither errors nor debug info.

In short, xabber does this because we wanted it that way.

We fetch data about the state of our crowdfunding campaign (which, by the way, performs extremely poor). We planned to increase crowdfunding visibility via a more visible mechanics (thus access to crowdfunding.xabber.com) but ultimately decided against it. In the future, we'll do more native cr

[2019-10-08 09:02] #857 closed

[2019-10-08 09:21] licaon-kter commented on #857
Where do you show this fetched data?

What data do you transmit to your servers?

What data do your servers log?

How long is this data kept?

[2019-10-08 09:47] andrewnenakhov commented on #857
You have our source code and [privacy policy](https://www.xabber.com/policy/) on our xabber.com website, but you ask questions already covered in that document.

In short: we could care less about your precious private data. We don't need it for anything and honestly we're getting annoyed when we have to answer such questions instead of making Xabber better. You are _not_ helping.

[2019-10-08 10:55] licaon-kter commented on #857
Answers on 2 out the 4 questions.

The source code? Yes, ~30 references, most to the namespace.

[2019-10-08 14:58] licaon-kter commented on #770
/close this

Ref: https://gitlab.com/fdroid/fdroiddata/commit/d782601729e9c2ee4e9210dfc3b4fe4dfd5bcc76

[2019-10-09 12:05] Str4tocaster commented on #770
@licaon-kter Thanks! And when Xabber appear at F-Droid?

[2019-10-09 12:23] licaon-kter commented on #770
The current cycle can be see here: https://f-droid.org/wiki/index.php?title=Special:RecentChanges&days=7&from=&hidebots=0&hideanons=1&hideliu=1&limit=500

And scroll a bit and see it's already built:  https://f-droid.org/wiki/page/com.xabber.android/lastbuild_644

So now we wait for sign & publish ;)

[2019-10-09 12:37] licaon-kter commented on #770
Done... in F-Droid Client pull to refresh ;)

[2019-10-09 15:00] Str4tocaster commented on #770
@licaon-kter Thanks a lot for help!

[2019-10-10 10:04] RajanVindaloo opened #899 "jivesoftware.smackx.hints.element gives error while compiling"

[2019-10-10 10:10] RajanVindaloo opened #900 "jivesoftware.smackx.hints.element"
When I try to build, I don't find jivesoftware.smackx.hints.element

I've done as per following

implementation 'org.igniterealtime.smack:smack-android:4.2.0'
    implementation 'org.igniterealtime.smack:smack-tcp:4.2.0'
    implementation 'org.igniterealtime.smack:smack-im:4.2.0'
    implementation 'org.igniterealtime.smack:smack-android-extensions:4.2.0'

    implementation 'org.igniterealtime.s

[2019-10-11 05:59] RajanVindaloo opened #902 "BaseLoginActivity class not found"
As XabberAccountActivity extends BaseLoginActivity,
But there is no sign of BaseLoginActivity in any of the branches.
Neither in "master" nor in "v2.6.6" nor in "v2.6.7".

So, it's quite difficult to build source code.

Help me with this.
Thanks

[2019-10-11 08:10] luoshiduan commented on #893
Thank you for your answer.I want to implement two mobile phones to send messages to each other.
After I integrated.My xmpp account is successfully logged in, but the information sent by the other party is not received. However, I need to send the information first, and then establish a certain connection before I can receive the information.Or there is no integrated documentation, I want to check

[2019-10-16 05:54] popovvitaly commented on #890
Did you try to use open* build variants? You can easily pick build variant with special Android Studio panel that located at left edge of window. As mentioned in README, keys for another build variants are not represented in this public repo.

[2019-10-16 06:05] popovvitaly commented on #902
Describe all steps which are lead to this problem. Because I couldn't repeat it. Try to clear all files and re clone anew.

[2019-10-16 06:18] RajanVindaloo commented on #902
Thank you for your reply. It's happy to hear from you.

I am attaching a screenshot.

![xabber issue](https://user-images.githubusercontent.com/46807770/66892934-89939300-f00a-11e9-9639-658a4f96b9a7.png)

The above screenshot contains my problem. "BaseLoginActivity" should be here.

In addition to that, I've followed steps that are given in the README file.
I am looking for "BaseLoginActivity" int

[2019-10-16 07:02] popovvitaly commented on #902
This class located at [open dir](https://github.com/redsolution/xabber-android/tree/master/xabber/src/open/java/com/xabber/android/ui/activity), not main. Did you make any changes in code after cloning (especially at build part)?

[2019-10-16 07:09] RajanVindaloo commented on #902
Okay, let me check for the link.
No, I did not make any changes in code.

[2019-10-25 12:17] casperklein opened #908 "Contact names missing in contact list"
Hi,

after upgrading Prosody from version 0.11.2 to 0.11.3 the contact names are no longer shown in the contact list.
(Switching back from 0.11.3 to 0.11.2 fixes the issue).

I am using Xabber 2.6.4 (634) (last Update from October) from the play store.
However, Xabber Beta 2.6.6.644 (last Update from August) doesn't seem to be affected.

If necessary, I can provide a test account on the server.

S

[2019-10-25 20:54] andrewnenakhov commented on #908
@casperklein it's strange, i thought we've fixed this issue. It happens when a server puts an empty string in vCard fields. Generally, Xabber uses this order of priorities:
Roster.Nickname > vCard.Nickname > vCard.FirstName + vCard.LastName > XMPP Id

.. and I thought we fixed it in this release, so please do provide us with a test account. Better on email info@xabber.com

[2019-10-26 04:48] huilgolAni19 commented on #694
@ThameemAK can you please tell how did you set false to this boolean(security_check_certificate_default) in preference.xml

[2019-10-30 22:17] bodqhrohro opened #910 "vCard title gets cut when folded"
https://0x0.st/zYvB.mp4

Which is more interesting, it gets centered at some moment, but other vCards still are cut when displayed and folded first time.

[2019-10-30 22:36] andrewnenakhov commented on #910
we're changing vCard look in a radical way, it'll look like this:

<a href="url"><img src="https://xmpp.redsolution.com/upload/4bddf4f264f5c6577f16551f16a0abdf3f7ff84d/VYGRkzQj/Screenshot_20191031-032825.png" align="left" width="360" ></a>

I'll be closing this issue for now. If you have questions, feel free to ask

[2019-10-30 22:36] #910 closed

[2019-11-05 12:34] rfc2822 opened #911 "Battery drain by endlessly repeating ClassCastException: org.jivesoftware.smack.packet.EmptyResultIQ cannot be cast to org.jivesoftware.smackx.disco.packet.DiscoverInfo"
I really like Xabber 2.6.6.644-open (from F-Droid), but unfortunately, I can't use it with my Prosody server (prosody-0.11.2_2 on FreeBSD 11.3-RELEASE-p3) because Xabber is unresponsive, crashes from time to time and consumes a lot of battery even when it's not used. Debug logs show this message _a few times per second_:

[code]

There's a Steam transport running at `steam.my.server` which I have

[2019-11-05 12:49] rfc2822 commented on #911
I guess it was caused by this code on server side:

[code]

which needs to be:

[code]

However, Xabber could maybe be improved so that it doesn't behave strange under such conditions.

[2019-11-06 13:00] mdosch commented on #911
That sounds interesting, did you publish it?

[2019-11-06 15:25] rfc2822 commented on #911
Yes, you can find it here: https://gitlab.com/rfc2822/xmpp-steam. It's for personal use and not very polished, but it works fine a for a few users (one Steam worker thread per user) on my server and supports 2FA (SteamGuard).

[2019-11-06 16:37] JanisSharma commented on #862
Already solved At [here](icetutor.com/question/app-not-installed-error-on-android)

[2019-11-07 07:54] mgrunwald opened #912 "xabber unable to connect"
There is an exception when I try to connect:

[code]

xabber 2.6.6.644
android 7.1.2 / lineage os 14.1

Its not the servers fault since Conversations works on the same device

[2019-11-07 09:44] ThameemAK commented on #694
@huilgolAni19  In preference.xml(https://github.com/redsolution/xabber-android/blob/33314e05d69eadf012bd91bd00dbca03961a8e67/xabber/src/main/res/values/preferences.xml). I downloaded the project and add as module in my Project and changed the flag.

[2019-11-07 17:35] casperklein commented on #908
With the new released version 2.6.6.644 in the play store, the problem was fixed for me. Thx!

[2019-11-07 17:35] #908 closed

[2019-11-07 20:55] andrewnenakhov commented on #911
@popovvitaly take a look pls.

@rfc2822 can you make us an account on your server? if yes, email login/pass on info@xabber.com
also, maybe tell us your Steam username to check how this chat works

[2019-11-07 21:00] andrewnenakhov commented on #912
Lol.

Anyway, if Xabber does not connect to a server, this means that the server is likely improperly configured. Most probable guess is that you run an OpenFire server with a broken certificate, but since we have no real data it's just a guess. Enable debug logs and attach them here, or email them to info@xabber.com, then we'll probably be able to tell you what's exactly wrong.

[2019-11-10 16:15] mgrunwald commented on #912
Ok, you were half correct: The server is [ejabber](https://www.ejabberd.im), the certificate has a problem: it is for *.the-grue.de, not for the-grue.de. But that never was a problem, xabber just asked if I trust it an that was it.

[Xabber_2.6.6.644_2019-11-10_17-04-23.txt](https://github.com/redsolution/xabber-android/files/3828677/Xabber_2.6.6.644_2019-11-10_17-04-23.txt)

[2019-11-12 14:54] mgrunwald commented on #912
The certificate is fixed now - xabber still crashes :(

Still "lol" ?

[2019-11-12 15:22] andrewnenakhov commented on #912
@mgrunwald we don't like your attitude so we are not really into fixing your issue dropping everything else.

[2019-11-12 15:44] mgrunwald commented on #912
Sorry, what? You "Lol"ed at me!
What's wrong with my first post? I mean it honest, I want to learn what I did wrong. From my point of view, I noticed you of a segfault, gave some detailes, followed your instructions and now you "don't like my attitude"?

And nobody even even gave a hint that you should "drop everything else". Ok, I was annoyed by your "lol". Sorry for that, I'll never mention that

[2019-11-12 16:57] andrewnenakhov commented on #912
1. Your server is very likely to be set up incorrectly. The fact that some other client is more tolerant to some errors does not mean that everything is OK.
2. It is likely you encountered a simple error message (yeah, it's not really pretty, i admit), not a segfault error. We don't see crashes in crashlytics either.
3. If you really want to solve this issue, best course is to give us a test accou

[2019-11-12 19:05] mgrunwald commented on #912
Thanks for offering 3. I just send you the credentials.

[2019-11-18 10:25] narcisgarcia commented on #881
XEP-0166, XEP-0167
Does the project have in mind to implement Jingle protocol?
Smack library can help to grow features to audio/video conferencing.

[2019-11-18 10:30] andrewnenakhov commented on #881
@narcisgarcia XEP-0166 by itself is not viable for the modern world. What is necessary is something like XEP-0353, but this too is not fully read to work in reality, cause modern XMPP devices do not stay always online and must rely on push notifications, and stock 353 does not play nicely with it.

We have already implemented 166 plus a rather modified 0353 in Web and iOS versions of Xabber (you c

[2019-11-21 16:58] echaskaris opened #913 "Connection error on Jellybean"
org.jivesoftware.smack.SmackException$ConnectionException: The following addresses failed
	at com.xabber.xmpp.smack.XMPPTCPConnection.connectUsingConfiguration(Unknown Source)
	at com.xabber.xmpp.smack.XMPPTCPConnection.connectInternal(Unknown Source)
	at org.jivesoftware.smack.AbstractXMPPConnection.connect(Unknown Source)
	at com.xabber.android.data.connection.ConnectionThread.connectAndLogin(Un

[2019-11-25 19:41] andrewnenakhov commented on #913
You might have encountered a rare bug in connection code, try latest update to Xabber Beta (on Google Play). Please, report here if it helps (or not).

[2019-11-26 18:43] echaskaris commented on #913
Doesn't work. Now I get no response exception, while waiting for tls

[2019-11-27 07:18] vitaliipopov23 commented on #913
There are various problems with connection those can lead to this exception. Cause you doesn't provided another data, we can only advice to check your connection settings: host address, port, proxy, etc or maybe even reinstall app. Or you can provide log-files, steps what you do, and then we try to locate a problem with more accuracy.

[2019-11-28 16:34] echaskaris commented on #913
Here
[Xabber_2.6.6.645_2019-11-28_15-27-16-1517379024.txt](https://github.com/redsolution/xabber-android/files/3902536/Xabber_2.6.6.645_2019-11-28_15-27-16-1517379024.txt)

[2019-11-29 06:34] #912 closed, assigned to nobody

[2019-11-29 06:35] #902 closed

[2019-11-29 09:27] vitaliipopov23 commented on #912
Fixed at latest update on Google Play.

[2019-11-30 11:17] mgrunwald commented on #912
@popovvitaly : I thank you really very much for fixing the error. Honestly!

@andrewnenakhov ... in spite of not liking my attitude, in spite of not having an error in the client at all, in spite of (not) having a misconfigured server. Now you have a reason to not like my attitude, I don't like yours, neither.

[2019-11-30 11:23] andrewnenakhov commented on #912
@mgrunwald yet, I am the one who ended up paying for your issue to be resolved. :-/

[2019-11-30 11:34] mgrunwald commented on #912
Maybe, when I report the next bug, we could start from scratch. Without attitudes on both sides.

[2019-11-30 12:31] andrewnenakhov commented on #912
OK)

[2019-12-06 11:11] echaskaris commented on #913
Do you see anything in the log?

[2019-12-08 12:30] casperklein opened #915 "http_upload: NullPointerException"
Android: 10
Device: Samsung S10
Xabber Version: 2.6.6.644
(But also tested with 2.6.6.645 after grabbing the log below; when recognized there was an update on the play store)

"http_upload" does not work anymore for me. When trying to send an image for example, I get
"Could not upload any file". If I click the error description in the chat, I see:

```myimage.jpg: java.lang.NullPointerException: A

[2019-12-08 13:05] casperklein commented on #915
I tested further with other files, file types and locations. I also got this error sometimes:

```myimage2.png: java.io.FileNotFoundException: /storage/emulated/0/some-app-folder/myimage2.png: open failed: EACCES (Permission denied)```

I checked the Android permissions for Xabber and all are granted.

PS: I've added Device/Android Info to my initial post.

[2019-12-14 14:27] echaskaris commented on #913
@andrewnenakhov @popovvitaly Sorry to ping you but I'd like to get xabber to work

[2019-12-16 07:16] vitaliipopov23 commented on #915
We have a fix for this problem which appeared at 10 Android, but we doesn't tested it enough, especially at Samsung devices. You can write us to info@xabber.com and we send special version for you, cause this fix will not be soon in Google Play.

[2019-12-16 07:39] vitaliipopov23 commented on #913
Android before 5.0 can't enable TLS by default without  using Google Play Services. I think we can't easily fix it, sorry.

[2019-12-16 17:52] echaskaris commented on #913
Ok, what about SSL? I can't get that to work either. [Xabber_2.6.6.645_2019-12-16_12-08-29-2124424731.txt](https://github.com/redsolution/xabber-android/files/3969448/Xabber_2.6.6.645_2019-12-16_12-08-29-2124424731.txt)

Also I found this https://stackoverflow.com/questions/37705367/how-do-i-get-tls-1-2-to-work-in-android-4-4-without-the-help-of-google-play-serv

[2019-12-18 12:52] evadogstar opened #916 "Remove faggot and lesbian smiles"
Hello,

How to remove faggot and lesbian smiles from my messenger? Why you force me to see this immoral smiles every day and advertise this **** for all xabber users? Also I did not know that they are here and install xabber to my grandmother phone to chat with she. And what I must say her if she will find this immoral advertising of unconventional relationships?

If some faggot want to use this t

[2019-12-18 13:47] julijane commented on #916
Hello,

How to remove moronic people from our world? Why you force us to see these hateful people every day and advertise this hate to all world users? Unfortunately I did very well that they are here and had not even any influence on my grandmother being born. And what I must say her if she will find this moronic advertising of hateful behavior?

If some lowlife want to see this then give him you

[2019-12-19 09:52] l29ah commented on #916
Just patch it, it's open source!

[2019-12-19 14:41] zinid commented on #916
SJW brigade is on the way. Expect some downvoting.

[2020-01-04 15:02] xmarxthespot commented on #916
The preferable term is:  **moralphobic**

[moralphobia:  irrational fear of Natural Law resulting in fear based actions like hate and violence]

[2020-01-04 15:10] xmarxthespot commented on #881
there is a f/oss android xmpp client with these ambitions.  'atalk' where a==alpha.

https://github.com/cmeng-git/atalk-android

![atalk](https://user-images.githubusercontent.com/59508225/71767487-97e2a400-2ec1-11ea-9d72-31fe64116f60.png)

[2020-01-04 15:16] xmarxthespot commented on #867
Instead of moving backward to OTR would @panpansh consider instead an encryption overlay like

[oversec.io](https://oversec.io)

[2020-01-04 15:31] xmarxthespot commented on #843
By your contacts?  Or what context?

[2020-01-04 15:32] xmarxthespot commented on #844
Perhaps this can be solved with the now reasonably priced third party app: Tasker

[2020-01-04 15:35] xmarxthespot commented on #821
that seems like a fantastic plan @andrewnenakhov

[2020-01-04 15:38] xmarxthespot commented on #761
there is a fix for apps running 444 using TLS.  It does NOT require on OS upgrade

[2020-01-04 19:15] andrewnenakhov commented on #916
Hm. I expected that reporting & blocking user would remove their content as well. Apparently, no.

[2020-01-04 19:15] #916 closed

[2020-01-04 19:20] andrewnenakhov commented on #843
@ghsrcgh actually, Xabber supports different proxies since forever - proxies are configured on connections settings separately for each XMPP account.

[2020-01-04 19:20] #843 closed

[2020-01-04 20:20] andrewnenakhov commented on #879
this Android feature is called 'Direct share', and it is indeed a good idea to add it.

[2020-01-12 15:13] ToEatFreshBabies commented on #884
I hope you are not abandoning those who have sanitized android (removed google cruft, gapps, services).

@andrewnenakhov

[2020-01-17 08:00] shubham2110 opened #917 "File Upload working for just 2-3 users, not working for others."
There is this strange issue, File upload is working for two user IDs and it is not working for any other user.

Other xmpp clients like Conversations, Pidgin, Gajim are already supporting file upload for same accounts.

 I am using Ejabberd server with mod_http_upload plugin.

When try to send an attachment,  I am getting error: "Error Sending File, server does not seem to support file transfer...

[2020-01-17 09:57] vitaliipopov23 commented on #917
@shubham2110  Describe problem more clearly (steps to reproduce, log files, androids version, server info, etc).

[2020-01-19 17:22] cyfrost commented on #59
Sorry 'bout necroing this, but can we please revive this feature-request?

[2020-01-20 12:25] vvvllll opened #918 "Stop forcing sync"
I once clicked by mistake on the cloud icon and now my account always syncs.

I tried to go on the settings and click Quit + confirm to delete the data, once i reload Xabber it will sync again.

I tried to delete all my xabber settings, delete the account directly on xabber.com, then reinstall xabber, it still syncs (or at least still connects to the "free account").

It looks like you're forcing

[2020-01-20 12:43] vvvllll commented on #918
Actions tried:

-click cloud, quit, confirm to not connect

-quit xabber, uninstall, delete settings

-go on xabber.com, delete account

-install xabber, connect, cloud icon is back to sync

----

OR

-click cloud, quit, confirm to not connect

-go on xabber.com, delete account

-reboot, start xabber, cloud icon is back to sync

Is the "free account" something we cannot opt out?

[2020-01-20 12:43] andrewnenakhov commented on #918
Xabber Account is not quite free account, it's a record on a server (xabber.com) tied to an XMPP  account of a user (even from third-party servers) and is planned to store data to sync between devices (quite handy in this role, if a user has multiple devices or accounts, not entering everything manually every time.

As to how to get rid of it... hmm. Well, there is a record in your server's locals

[2020-01-20 12:48] andrewnenakhov commented on #918
If you create an XMPP account on Xabber server (xabber.org or xabber.com, etc), then it is tied to Xabber account and it can't be opted out. If you created Xabber account using third party XMPP account, you can delete Xabber account by logging into xabber.com with your XMPP account and code sent to your account, and deleting it.

HOwever, since that record is stored in localstorage of your XMPP se

[2020-01-20 12:52] vvvllll commented on #918
Oh thank you i saw the data in the local server and deleted, now it won't connect again!

But yes a client option would be nice! A lot of people use this client because it has good security/privacy features.

Good luck with your campaign!

[2020-01-21 19:34] andrewnenakhov commented on #59
@cyfrost we're up for anything cool, but currently our plate is extremely full with various features and technical debt, so we'd like to do something like it, but not really sure when we get to it.

[2020-01-24 06:12] bleedingcrow commented on #59
@voidzero has a most interesting suggestion @andrewnenakhov

[2020-01-24 06:18] bleedingcrow commented on #913
@echaskaris spot on

The newest TLS does _not_ require an android version "upgrade"

[2020-01-24 06:19] bleedingcrow commented on #890
I would prefer a zero crashlytics build

[2020-01-24 06:22] bleedingcrow commented on #877
Sorted by most recently active?

[2020-01-24 06:24] bleedingcrow commented on #864
Fake disable is the opposite of the XMPP ethos.

[2020-01-24 06:26] bleedingcrow commented on #846
@ajsiersema use tasker to change phone to silent or dnd during phone call

Don't overcomplicate xabber permissions

Edit: phone autoincorrect.

[2020-01-24 06:28] bleedingcrow commented on #830
Could http upload file limits be circumvented slicing images into segments

[2020-01-24 06:37] bleedingcrow commented on #799
@andrewnenakhov @BigGiantHeadsHighCommander

https://github.com/conversejs/converse.js/issues/1182

That thread confirms the omemo file encryption assertion

[2020-01-24 07:09] wrooot commented on #877
No, it is in alphabetical order, but users with names starting with a capital letter are at the top for some reason. Sorting is case sensitive.

[2020-01-24 07:15] wrooot commented on #877
Also noticed that all moderators are at the bottom. Maybe more logical to show them at the top. Although i would prefer all users just to be sorted alphabetically.

[2020-01-24 07:33] andrewnenakhov commented on #877
We are going to remove MUC support this year from Xabber for Android. Xabber Server and other versions of Xabber already have support for a far superior group chat protocol.

[2020-01-24 07:33] #877 closed

[2020-01-24 09:47] andrewnenakhov commented on #830
Images are shrinked to smaller size on send, so this issue is no longer relevant. However, for the time being there is no an option to send an image without resizing. We'll add it in the future

[2020-01-24 09:47] #830 closed

[2020-01-24 09:51] andrewnenakhov commented on #799
@bleedingcrow which of the assertions?

[2020-01-26 11:27] snoopcatt opened #919 "Send on Enter on hardware keyboards"
Hello.

Config option «Send on Enter» does not working properly on phones with hardware keyboard, such as Blackberry KeyOne.

Even when it is Enabled or Disabled, Enter key on hardware keyboard just do a newline.
Analogue option in Conversations or Telegram working properly in my phone.

I hope it is possible to fix that behaviour.

[2020-01-26 11:30] snoopcatt opened #920 "Auto focus in message box on chat open"
Hello there.

I propose a new configuration option -- Focus on messagebox when opening chat window.

This is useful if you using phones with hardware keyboard, Blackberry, for example, and will save a lot of time, because in hardware-keyboard phones now you have to tap on message bar additionally to start typing.

[2020-01-28 13:59] andrewnenakhov commented on #920
@snoopcatt Xabber already has too many configuration options, we'd rather work on reducing them to improve user experience.

This feature is best done without an option. I believe, if a keyboard is present and open, input field in chat activity should automatically be in focus. However, since we don't have the device to test it on, if you want it done, email us info@xabber.com and be ready to rece

[2020-01-28 14:00] andrewnenakhov commented on #919
@snoopcatt same as earlier issue, email us to test if it works

[2020-01-31 22:19] snoopcatt commented on #919
I've emailed you.

[2020-02-06 12:51] licaon-kter opened #922 "'open' flavour fails to build with fdroidserver"
Since 0ef3b91633a2fcc2b032d1715a49b56f5eab2c68 it says:
[code]
...note that it includes https://github.com/redsolution/xabber-android/pull/898 else it won't even try.

[2020-02-25 06:45] fsyy commented on #847
i have the very same error, no preview images, but if i download, it works and i see the image.
it's only with the preview.

Android 9

[2020-03-02 05:38] dushyantDreamz opened #923 "I want to add the xabber in my android app as sub project but getting error"
Hello Team,

I have seen the project and its really awesome and you guys did a very fantastic job.

I want to use this code in my app but when I am importing as module its giving me bundle of errors.

Please share me the work around for it. In urgent need. Thanks in advance

[2020-03-02 08:56] andrewnenakhov commented on #923
@dushyantDreamz what exactly is you issue? We can't help you fix 'a bundle of errors'.

[2020-03-02 08:58] dushyantDreamz commented on #923
When I am importing this project into my project then its giving me errors

[2020-03-02 08:59] andrewnenakhov commented on #923
@dushyantDreamz sad to hear.

[2020-03-02 09:01] dushyantDreamz commented on #923
Its giving me some class path error. I don't know why. But If I am using any other project to import its working perfectly fine. Can you help me in this Sir?

[2020-03-02 09:08] dushyantDreamz commented on #923
@andrewnenakhov : Please assist me in this. Thanks in advance

[2020-03-02 09:21] andrewnenakhov commented on #923
@dushyantDreamz we can't help you with a problem which you refuse to describe in its entirety. We don't know what you're doing, what kind of setup you have and you even can't tell us which exact error the project gives.

[2020-03-02 09:41] dushyantDreamz commented on #923
@andrewnenakhov : Ohh I ma so sorry.

Well what is happening here that when I am cloning this current code and if run independently then its working perfectly fine but when I am importing this project as module into my other android app then its giving me errors like below:

ERROR: Unable to resolve dependency for ':app@debugUnitTest/compileClasspath': Could not resolve project :xabber.

ERROR: Un

[2020-03-02 10:12] dushyantDreamz commented on #923
@andrewnenakhov : Sir any solution for my issue ?

[2020-03-02 12:11] vitaliipopov23 commented on #923
Xabber was not originally designed to be used as a module, Therefore, we cannot give specific instructions.  For now, it looks like a problem in your gradle files. Have you followed the official documentation, [for expamle](https://developer.android.com/studio/projects/android-library)? If you attach your Gradle files and describe in detail the steps for playback, maybe we will try to help you, bu

[2020-03-04 16:43] dolda2000 opened #924 "Notification sounds stop working with more than one conversation"
It has been some time since I last received a notification sound from Xabber, and I'm not sure why. I've verified many times that I have notifications on, that I receive notification sounds from other programs, that I haven't turned off notification sounds specifically for Xabber, et cetera, so I'm beginning to think that it's some kind of bug.
I also can't say that I remember having done anything

[2020-03-05 16:46] dolda2000 commented on #924
Actually experimenting a bit more with this, it appears that notification sounds work only when there is one single conversation in the notification. It seems to be 100% reproducible that as soon as another conversation enters the notification, sounds stop, and when the notification is swiped off and reset with only one conversation, sounds start working again. Unless I'm missing some variable her

[2020-03-05 20:33] andrewnenakhov commented on #924
This bug is likely fixed by now. @dolda2000 email us info@xabber.com, we'll send you a link to a (buggy) internal build of Xabber. If it will help with the issue, please, report back.

[2020-04-02 09:16] snoopcatt commented on #919
I have installed test build received via EMail and Enter hw key still does not work.

[2020-04-16 20:07] gjedeer commented on #67
@andrewnenakhov it seems this is implemented but you did not claim the reward in bountysource, check it out if interested https://www.bountysource.com/issues/1025378-stream-management-support

[2020-04-17 13:49] gemboot commented on #924
Hi, I just wanted to say that I have the exact same problem, a few months ago it was working very well, but I don't remember when and with which update this problem appeared (I would say about 3 versions ago roughly).

Andrew would you be kind enough to send me the latest beta version with the fix you may have done in the meantime regarding this matter ? Thank you

And by the way, nothing compares

[2020-04-17 16:14] vitaliipopov23 commented on #924
@gemboot send email at info@xabber.com. We'll send you a test version.

[2020-04-25 09:30] #917 closed, assigned to nobody

[2020-05-11 02:49] singpolyma commented on #731
Is this the same problem as #745 ?  I also happily use MAM with other clients, but with Xabber it says my prosody server has no MAM...

[2020-06-09 01:13] greatredheron commented on #916
Hey dude that's really not cool. Being homophobic is not okay. It's open source and you can change things how you would like.

[2020-06-10 02:49] termermc commented on #916
this is hilarious

[2020-06-18 16:01] gustavorps commented on #249
Bountysource decided to update their Terms of Service:

https://www.bountysource.com/issues/1025125-multisession-support-in-otr

[2020-06-19 12:07] andrewnenakhov commented on #249
@gustavorps we're unlikely to do this anyway. OMEMO looks to be the goto way to do multi-device encryption these days.

[2020-07-23 18:15] damascene commented on #172
One very useful case of Bonjour is being able to share files and text with desktop devices easily. There are only chatsecure that can do that but it only have iOS version on their website.

[2020-08-24 12:21] aamir-github commented on #793
do I have to write these commands for path "xabber-android-master\xabber-android-master\xabber>" OR "xabber-android-master\xabber-android-master>"

[2020-08-24 13:03] aamir-github opened #925 "Still xabber-android is not configured"
I am using android studio on a windows machine and have tried the followings commands in the android studio terminal

git submodule sync
git submodule init
git submodule update --remote

on paths given below

...\xabber-android-master\xabber-android-master>
AND
...\xabber-android-master\xabber-android-master\xabber>
(kindly guide if I am trying worng paths)

but still getting error "`Project :xabb

[2020-08-27 12:13] aamir-github commented on #925
cloned Instead of importing, build and run successfully

[2020-08-27 12:13] aamir-github commented on #925
cloned Instead of import, build successfully

[2020-09-18 10:28] aamir-github opened #926 "Calls are not connected while using cellular internet"
If one of the ends (dialing or receiving device) is using cellular internet, the call gets dialed but never gets connected. Here are the logs

[code]

[2020-09-18 10:34] andrewnenakhov commented on #926
To the extent of my knowledge Xabber for Android doesn't yet have voice calls capability.

[2020-09-18 10:34] #926 closed, assigned to nobody

[2020-09-18 10:49] aamir-github commented on #926
Sorry sir, my bad

Sorry sir, my bad

[2020-10-04 09:21] Cricko25 commented on #738
I don't think this is the best way to enforce your vision (e.g. to convince people that something is obsolete and insecure).

In particular: 11 years ago I installed jabberd2 for one small friendly working group; this server is still used by 5 to 10 people, most of them dislike smartphones so incompatibility with xabber wasn't an issue.  Recently they accepted another member and asked that person

[2020-10-04 14:34] andrewnenakhov commented on #738
@Cricko25 there is nothing to discuss here. Outdated security standards should be updated in timely manner.

[2020-10-04 14:37] andrewnenakhov commented on #738
@Cricko25 also, thanks for framing it this way that it is somehow our fault that you can't dedicate some of your precious time to update your server. You know, we have so much free time to program, support and maintain the features you want to have.

[2020-10-04 20:15] Cricko25 commented on #738
First of all, if YOU think that something "should" be done, then it is perhaps okay to issue a warning.  I strongly believe people have the right to decide what level of security fits their needs (e.g. email is still transferred in plain text, and noone actually have problems out of that; let me skip the analyses of a situation with digest md5 in this particular situation, heh).  Anyway, _forcing_

[2020-10-04 21:03] andrewnenakhov commented on #738
@Cricko25 wow, some users never cease to amaze us.

[2020-10-25 16:48] VA2XJM opened #927 "Conferences do not reconnect."
Xabber Version: 2.6.6.645

Previous version was working flawlessly. In actual version, conferences do not reconnect when account is reconnecting to server.

So when the phone switch from LTE to Wi-Fi, Wi-Fi to LTE or just get back from no network to any network, the user account re-auth with the server but conferences stay "offline". I have to manually leave the conference and then join again to b

[2020-10-26 08:01] andrewnenakhov commented on #927
We have already removed support for conferences (XEP-0045) from main branch of Xabber, once the updates make it to the main version, conferences would be replaced by our developed superior (by far!) protocol for group chat. So it's a 'won't fix'. If that functionality is critical for you, then you'll have to use a different client. Sorry about that.

[2020-10-26 08:01] #927 closed, assigned to nobody

[2020-11-16 16:47] nponeccop commented on #529
An OS vendor notifications mechanism is supposed to be both power-saving and ensuring faster delivery compared to long-standing TCP connections.

If this is confirmed by a benchmark  (of course it's a big *if*) then an optional mechanism should be implemented, which trades off some privacy for timely delivery and battery life. And users caring about privacy can then choose as they wish.

Note that

[2020-11-30 11:26] ec1warc1 opened #928 "xep-0313 mam, my server supports it, but xabber says it doesn't"
I run a public prosody server at e2e.ee. My server supports message archive management (mam):
``<iq type='get' id='disco1' to='ed@e2e.ee' from='ed@e2e.ee'>
  <query xmlns='http://jabber.org/protocol/disco#info'/>
</iq>``
...
``<feature var="urn:xmpp:mam:2"/>
``
But, Xabber says it doesn't. (see image).

Using Conversations, I can delete history, and then download it again, proving that xep-0313 is

[2020-11-30 11:51] andrewnenakhov commented on #928
Hi. Looks like your message archive users a "urn:xmpp:mam:2" namespace and Android App is not aware of this newer version of MAM. Can be fixed by just making app recognize this namespace, we'll do it in subsequent updates.

[2020-11-30 12:03] ec1warc1 commented on #928
Excellent! Many thanks! - but, I am curious... if "urn:xmpp:mam:2" is new, what is the old namespace? Happy Monday!

[2020-11-30 12:11] andrewnenakhov commented on #928
"urn:xmpp:mam:1" :-D

[2020-11-30 12:26] ec1warc1 commented on #928
Oh! That makes sense!
By the way, https://xmpp.org/extensions/xep-0313.html  reports on an extended version as well:
``<feature var='urn:xmpp:mam:2'/>``
``<feature var='urn:xmpp:mam:2#extended'/>``
clarifying: The 'urn:xmpp:mam:2#extended' feature MUST NOT be advertised by a server without also advertising 'urn:xmpp:mam:2'.

[2021-01-18 05:55] mehtaketan7 commented on #852
any update on this issue? I am facing same issue since long time.

[2021-01-24 19:41] FredPraca opened #929 "Upload doesn't work on Xiaomi Mi 10 Note Lite"
Hi,
uploading does not seem to work on Xiaomi mi 10 Note Lite with version 2.6.6.645.
When sending a picture, a message _Directory not created_ quickly appears and the message bubble _sending file_ never disappears. No exception appears in the log file but the following line:

`2021-01-24_20-37-21 E/com.xabber.android.service.UploadService@c0c5ca9﹕ Directory not created`

On the server side, the c

[2021-01-25 18:48] FredPraca commented on #929
Xabber-Beta v3.0.2 does not seem to have the problem.

[2021-02-08 22:09] ver-luisant commented on #929
Same here on a Redmi note 9 Pro
Beta is OK too.

[2021-02-09 12:55] vitaliipopov23 commented on #929
It's a bug bounded with new files-related rights management, that was released at Android 10. Xabber Beta contains fix and works perfectly with Android 10, but main version is pretty old. We'll update main version asap, be patient.

[2021-02-16 00:24] ec1warc1 opened #930 "Three interface design suggestions"
![Screenshot_20210215-185352_Xabber](https://user-images.githubusercontent.com/23389201/108003766-b4587780-6fc1-11eb-8cfa-9ea90720fc3f.jpg)
1) The avatar can be about 20% larger, and should be cropped by a rounded-square instead of a circle. Considering all the time people put into their avatars, showing more of the avatar is a good idea. Cropping it with a circle cuts off details in the corners t

[2021-02-18 20:59] SpontaneousOverthrow opened #931 "OTR problem between psi+ and xabber"
I've faced with very strange problem in psi plus v1.4.554 . When I try to start OTR dialogue with contact who has xabber I always get this kind of message:

`?OTR:AAMCkDfq4AAAAAAAAADE7mQeDmVH9oowj+0YW2yHIg9E9mCMRlF7/9Zsgb0e5VodCBZuay9mHkwgWq//yPn7yqs31luqHmcpsUuX6orJha/MdUjpaMfIcg7citqwd+Z7zQpiXvGUqXJpAt2aPVAjGNbb2J45xFVPhwBuTHhZEdG5JW0P4L83u13X/tErSutlUIN30GoZuJeCBYAhrc1HSMMQpciA0mfWPxD8P5weI2W18

[2021-02-23 10:50] SpontaneousOverthrow commented on #931
Is this correct that xabber use OTRv1?
https://github.com/jitsi/otr4j/blob/a2d2c00aa569009fd850da6b4c74f87c3f3cad74/docs/Protocol-v3-4.1.1.html#L274
In logs i see:
```?OTR:AAMC32j9agAAAAAAAADEEP4DvpNiHNjtKKZyOlv1+QkvVwNWWA/z8oG8NRn5bGXVuYHRiz5WCAaH8pniU9uG3ElVUuUoLIP7RDV1u08/xl1uARYzmkPwIx6mQ9xfAFgd9rRgR9Sg+yJzTOzMkT78PY9x7x1Eton6JsnQAquP8Wb7yvmGfqWaTEE7/ZnK9jLRBDIZofdQfXbyZn3f+mbndwWYeyBOeyQUeDYV

[2021-03-25 12:38] lex-github commented on #916
based
poor grandmas not only forced to wear triple mask but also triple glasses to avoid seeing haram smiles

[2021-07-09 23:47] alonsobustamante98 commented on #916
why the drama? this is common sense

[2021-08-03 02:19] singpolyma opened #934 "Conform media references to XEP-0385"
Xabber seems to send payload like this:

[code]

But XEP-0385 shows payloads that look like this:

[code]

[2021-08-03 10:22] andrewnenakhov commented on #934
XEP-0385 is one of many unfortunate XEPs that do everything wrong.

0385 ignores all prior similar formats that existed before, neglects the needs of client app developers. Adoption of such XEPs results in an unbearable mishmash of standards that are ignoring each other's existence. So, naturally, we decided to start from a clean slate, took XEP-372 references and started extending it the way we n

[2021-08-03 10:22] #934 closed, assigned to nobody

[2021-10-09 11:42] lixxdee commented on #847
I have some prolbem, but i fix it, when make .pem file with (crt, intermediate certificate and root public crt). Also you need have pem with you privete key

[2021-10-15 12:20] rrjanbiah opened #935 "Need high priority (?) Notifications"
Sorry, don't know the correct terminology...

The notification is not displaying in the lock screen. Always need to focus the application to view relevant notifications.

Version: Xabber Beta 3.0.2 Beta (824)
Mobile: Redmi, Android 9

[2021-10-15 12:29] andrewnenakhov commented on #935
Can it be because the app is simply terminated in the background by the OS? Xiaomi are infamous for automatically stopping background apps, and stopped app can't send notifications.

It is simple to determine if Xabber is running in the background - if you see a lightbulb icon in the presence area, it is running. If you don't, then it was killed.

[2021-10-15 13:10] rrjanbiah commented on #935
@andrewnenakhov Thanks a lot for your quick reply.

I can't seem to find the lightbulb in this version, but I vaguely remember in the previous versions.

However I think the app is online as my account is online for the other users.

I have a feeling that it may be due to some variations in the notification API call

[2021-10-15 14:20] andrewnenakhov commented on #935
XMPP servers might show you 'online' to other users even if the app is terminated and no longer maintains an active connection.

You can check if the notifications are working in a very simple way:
1) launch Xabber
2) go to home screen, see if there is an active light bulb in the notifications are (if you swipe the notification area down it should expand to a full notification saying "Xabber, 1 of

[2021-10-15 14:40] rrjanbiah commented on #935
@andrewnenakhov Thank you so much for your detailed explanation. By Monday (once we have enough people to check the behaviour), will check again and will share more details. Thanks again for your awesome support.

[2021-10-18 13:38] rrjanbiah commented on #935
@andrewnenakhov I have checked the issue closely with different cases. Looks like my previous understanding is wrong. For now, I came to below findings:

1. Notifications don't appear in the lock screen--always.
2. Notifications don't have any sound
3. WhatsApp notifications are looking ideal: Getting in lock screen, getting sound. So, if I'm on other app, I can understand the new notifications.
4

[2021-10-18 14:59] andrewnenakhov commented on #935
There are interesting details, but whether WhatsApp is capable of showing notifications is irrelevant - they are clearly using push notifications and that's a whole different matter.

Before we proceed any further, one thing needs to be determined exactly: DOES Xabber run in the background, or DOES IT NOT. This determines the course of solving this problem: if it DOES, then there is something wron

[2021-10-19 15:47] rrjanbiah commented on #935
@andrewnenakhov Thank you so much for your awesome support.

Yes, I get something like (sorry, couldn't take a screenshot of notification as you did):
[code]

Anyway, today I'm able to understand the exact issues! (Previously, I was goofing up as I was not sure what was wrong, as the notifications are different when compared to other apps)
1. Xabber was missing lock screen notification--and so, I

[2021-10-29 13:21] rrjanbiah opened #936 "Re-connection is not possible (?)"
**Steps to reproduce**

1. In the mobile, enable both WiFi and Mobile data
2. Login to the XMPP
3. Disable WiFi

Issues here:

1. Xabber is displaying "Reconnecting", but not actually getting connected (even if Mobile Data is available)
2. Even if we activate WiFi again, most of the times it still shows "Reconnecting". Very rarely (say, 1-2% of the times), it reconnects.

Use cases:

1. You're con

[2021-12-17 10:20] Tamir198 opened #937 "Xabbar vip is not found"
When clicking on this link to open google play store:

![image](https://user-images.githubusercontent.com/34707669/146529184-c91d9773-4e47-4cf6-9b74-085d3a4d9ec4.png)

Nothing can be found:

![image](https://user-images.githubusercontent.com/34707669/146529378-15809dfa-342d-4caf-98c2-9a27ffee710a.png)

It says : "The wanted URL was not found on this server."

[2022-03-16 08:36] smilegood4892 opened #938 "Jabber"

[2022-03-16 08:40] #938 closed, assigned to nobody

[2022-05-12 18:18] hueldoeu opened #939 "can't send files with huawei p20 pro"
with lg g5 everthing works but it has only android 8 (some essential apps don't work) and huawei p20 pro has android 10.

[2022-05-18 09:48] andrewnenakhov commented on #939
Thy this somewhat improved version https://www.xabber.com/rel/client/android/last/xabber.apk

(we have actually abandoned the existing xabber for android because of many internal architectural problems and are rewriting it anew with the experience received while developing iOS and web versions. It might take a while, but it'll come)

[2022-05-18 11:11] hueldoeu commented on #939
yup, works perfectly. ah man. now i have to change the settings again.

i really think that google is trying to suck the worlds titties and drink our milk. i mean there are so many restrictions. as a developer i am scared to program something for android because i don't have full access to the mobiles.

google really only wants google-software on "their" smartphones. i can't use k-9 mail for gmail

[2022-05-18 12:58] hueldoeu commented on #939
when i change from light skin to dark skin in the settings, xabber won't open anymore and i have to reinstall it. i'll remain on light skin (non-dark)

[2022-05-18 13:01] hueldoeu commented on #939
is there still some place where i can help for the german translation?

[2022-05-20 07:06] necarnot opened #940 "Xabber muc support?"
Hello,

I'm using Xabber for long, and recently I changed our self hosted xmpp server (ejabberd).
I can connect my Xabber 2.6.6.645 to this xmpp server and chat with users, but I find no way to connect to MUC rooms.
Either I'm lost and I forgot how to do, either I'm starting to understand that MUC support (XEP-0045) has been removed from this version?

Please advice me.

[2022-05-20 07:36] andrewnenakhov commented on #940
MUC are an abomination of a group chat and Xabber will never support it. Instead we have develped a far superior group chat protocol supported at the moment by Xabber Server and Web and iOS versions of Xabber. Android version is currently under full rewrite and will feature support for this new group protocol in a few months (unless we will be forced to stop development due to economical circumsta

[2022-06-20 18:27] hueldoeu commented on #939
when i send a message from miranda ng windows 10 to xabber dev, xabber crashes!

[2022-06-20 18:34] hueldoeu commented on #939
i have installed xabber from play store called xabber beta. works great! byebye xabber dev. dear @andrewnenakhov
andrewnenakhov are you still interested in bitcoins?

[2022-09-12 20:49] pboettcher commented on #687
I am getting this error when I receive a HTTPS-link to a picture from a website other than jabber server. This is definitely not normal.

[2022-09-13 08:06] andrewnenakhov commented on #687
@pboettcher these errors are not related to https

[2022-09-16 04:48] Q1w2e3r4t5-rgb opened #941 "Compile error"
Help me please. My project is not compiling. Writes:
Could not find com.github.str4tocaster.smack:smack-android-extensions:ffb99cc.
      Required by:
          project :xabber

      Required by:
          project :xabber

      Required by:
          project :xabber

      Required by:
          project :xabber

These libraries have been removed from the maven repository. Where can I download th

[2022-09-19 10:20] licaon-kter commented on #941
The current development is done in this branch fyi: https://github.com/redsolution/xabber-android/tree/develop

[2022-09-19 10:29] Q1w2e3r4t5-rgb commented on #941
Here I get the same error. Can anyone tell me where I can download these libraries:
com.github.str4tocaster.smack:smack-experimental:ffb99cc
com.github.str4tocaster.smack:smack-tcp:ffb99cc
com.github.str4tocaster.smack:smack-resolver-dnsjava:ffb99cc

[2022-09-19 10:30] Q1w2e3r4t5-rgb commented on #941
Here I get the same error. Can anyone tell me where I can download these libraries:
com.github.str4tocaster.smack:smack-experimental:ffb99cc
com.github.str4tocaster.smack:smack-tcp:ffb99cc
com.github.str4tocaster.smack:smack-resolver-dnsjava:ffb99cc
?

[2022-09-19 10:32] licaon-kter commented on #941
You can't get the same error since the libs are NOT the same: https://github.com/redsolution/xabber-android/blob/develop/xabber/build.gradle#L140-L143

`git checkout develop` and retry?

[2022-10-13 02:25] nicson0427 commented on #941
i still got error while using the development branch. i have change the smackVersion to 4.4.6 as 4.2.1-snapshot is not found on maven repo, ad another error arise, Execution failed for task ':xabber:kaptOpenBetaDebugKotlin'. anyone got solution?

[2022-10-23 09:11] Spz2022 commented on #629
?

[2022-10-31 13:07] unixcomrade opened #942 "Connection error"
Hello! I run my own ejabberd server, trying to connect to it with Xabber 2.6.6.645. I do suspect there is something wrong in ejabberd config, and I do understand that this question is rather more appropriate to ejabberd git. After I enabled debug logging:

"2022-10-31 14:37:54.848697+02:00 [error] <0.659.0>@ejabberd_acme:issue_request/7:246 Failed to request certificate for xxxxxxxx.org, pubsub.xx